{% extends "completo.html"%}

{% block content %}
<script>
	function menu(){
		document.getElementById('cuenta').style.backgroundColor='#FFF';
	}
	window.onload=menu();
</script>
 <div id="wrapper">
    	<div id="secWrapper">
        	<div id="container" class="clearfix">
            <br />
            <br />
            <br />
            	<div style="width:940px; background-color:#E6E6E6; border:1px solid #CCC; height:22px; text-align:left;">
                	<span style="text-align:left; margin-left:15px;">
                    	Mi Cuenta -> Inscripción en Eventos -> {{ congreso }} -> Registrar trabajos 
                    </span>
                </div>
             <br />
			 <!-- Columna Principal -->
            	<div id="mainCol" class="clearfix">
                <div style="border:1px solid #C0C0C0; background:url(/media/librerias/css/plantilla/images/bbplataforma.png) top repeat-x;">
                    	<div style="text-align:justify;margin-left:25px; margin-right:25px;">
                        <br />
                        <br />
                  <div class="titulo"><span style="font-style:italic;">Registrar Resumen</span></div>
					<b>Acciones Especificas</b>
                    <br>
                    Selecciona el tema al que pertenece su trabajo o actividad.
                    <br>
					<br>
  
 					<table>
 						<tr>
   	 						<td>
								{% for item in accespe %}
                                <a style="border:solid 1px #999999; background-color:#CCC; color:#06F; width:400px; height:60px; font-size:15px;" href="/panel/eventos/registro/paso/5/{{ congreso.id }}/{{ item.id }}">
                                
                                {{ item.numero }} .- {{ item.nombre }}
                                <br>
                                </a><br>

                
                                {% empty %}
                                    <li>No existen Registros</li>
                                {% endfor %}
            				</td>
            			</tr>
            		</table>
                </div>
                </div></div>
			<!-- Fin Columna Principal -->
                <div id="secCol">
                	<div id="noticias" style="border:1px solid #CCC; width:218px; background-color:#FFF;">
					&nbsp;&nbsp;&nbsp;Hola, <span style="font-style:italic;">{{ persona.nombre }}</span> (<a href="/salir.php">Salir</a>)
                  	
                    </div>
                    <div id="secCol-punta">
                    </div>
                </div>
                
        </div>
    </div>




 
{% endblock %}
