{% extends "completo.html"%}

{% block content %}
<script>
	function menu(){
		document.getElementById('cuenta').style.backgroundColor='#FFF';
	}
	window.onload=menu();
</script>

<script type="text/javascript">
$(document).ready(function() {

	
	document.getElementById("id_nombre").style.border="1px solid #666";
	document.getElementById("id_nombre").style.width="300px";
	document.getElementById("id_nombre").style.height="20px";
	
	document.getElementById("id_sexo").style.border="1px solid #666";
	document.getElementById("id_sexo").style.width="300px";
	document.getElementById("id_sexo").style.height="20px";

	document.getElementById("id_apellido").style.border="1px solid #666";
	document.getElementById("id_apellido").style.width="300px";
	document.getElementById("id_apellido").style.height="20px";

/*	document.getElementById("id_edocivil").style.border="1px solid #666";
	document.getElementById("id_edocivil").style.width="300px";
	document.getElementById("id_edocivil").style.height="20px";*/

	document.getElementById("id_nacimiento").style.border="1px solid #666";
	document.getElementById("id_nacimiento").style.width="300px";
	document.getElementById("id_nacimiento").style.height="20px";

	document.getElementById("id_correo").style.border="1px solid #666";
	document.getElementById("id_correo").style.width="300px";
	document.getElementById("id_correo").style.height="20px";

	document.getElementById("id_telefono1").style.border="1px solid #666";
	document.getElementById("id_telefono1").style.width="300px";
	document.getElementById("id_telefono1").style.height="20px";
	
	document.getElementById("id_telefono2").style.border="1px solid #666";
	document.getElementById("id_telefono2").style.width="300px";
	document.getElementById("id_telefono2").style.height="20px";

	document.getElementById("id_movil").style.border="1px solid #666";
	document.getElementById("id_movil").style.width="300px";
	document.getElementById("id_movil").style.height="20px";
	
	document.getElementById("id_fax").style.border="1px solid #666";
	document.getElementById("id_fax").style.width="300px";
	document.getElementById("id_fax").style.height="20px";
	
	document.getElementById("id_pai").style.border="1px solid #666";
	document.getElementById("id_pai").style.width="300px";
	document.getElementById("id_pai").style.height="20px";
	
	document.getElementById("id_estado").style.border="1px solid #666";
	document.getElementById("id_estado").style.width="300px";
	document.getElementById("id_estado").style.height="20px";
	
	document.getElementById("id_municipio").style.border="1px solid #666";
	document.getElementById("id_municipio").style.width="300px";
	document.getElementById("id_municipio").style.height="20px";
	
	document.getElementById("id_parroquia").style.border="1px solid #666";
	document.getElementById("id_parroquia").style.width="300px";
	document.getElementById("id_parroquia").style.height="20px";
	
	document.getElementById("id_sector").style.border="1px solid #666";
	document.getElementById("id_sector").style.width="300px";
	document.getElementById("id_sector").style.height="200px";
	
	document.getElementById("id_areasaccion").style.border="1px solid #666";
	document.getElementById("id_areasaccion").style.width="300px";
	document.getElementById("id_areasaccion").style.height="200px";
	
	
	document.getElementById("id_gruposespecie").style.border="1px solid #666";
	document.getElementById("id_gruposespecie").style.width="300px";
	document.getElementById("id_gruposespecie").style.height="200px";
	

});
</script>

 <div id="wrapper">
    	<div id="secWrapper">
        	<div id="container" class="clearfix">
            <br />
            <br />
            <br />
            	<div style="width:940px; background-color:#E6E6E6; border:1px solid #C0C0C0
; height:22px; text-align:left;">
                	<span style="text-align:left; margin-left:15px;">
                    	Tu cuenta
                    </span>
                </div>
             <br />
			 <!-- Columna Principal -->
             <div id="mainCol" class="clearfix">
                	<div style="border:1px solid #C0C0C0
; background:url(/media/librerias/css/plantilla/images/bbplataforma.png) top repeat-x;">
                    	<br />
                        <br />
                  		<div style="text-align:center;margin-left:25px; margin-right:25px;">
                        	<span style="text-align:center; font-style:italic;" class="titulo1">
                  				Sistema de Verificación de Perfil
                  			</span>
                        </div>
                        <br />
                  		<div style="text-align:justify;margin-left:25px; margin-right:25px;" class="texto_regular">
                    		
                            <br /><br />
                        </div>
                           
                         <div style="text-align:justify;margin-left:25px; margin-right:25px;" class="texto_regular">
                         {% if msm %}
						 		<div style="width:600px; background-color:#e5e598; border:1px solid #cccc31; height:40px; text-align:left;">
                                    <span style="text-align:left; margin-left:15px;">
                                        <b style="font-style:italic; font-size:20px;">{{ msm }}</b>
                                    </span>
                                </div>
                                {% endif %}
                                {% if formulario %}
                                	{% if formulario == "password" %}
                                    	<form  method="post" action="/panel/pass/restart">
                                        <br />
                                       <label>Contraseña</label><br />
                                        <input type="password" style="width:200px; height:20px; border:1px solid #666;" id="clave1" name="clave1" /><br />
                                        <br />
                                        <input type="hidden" value="{{ validacion.id }}" name="valid" id="valid" />
                                        <input type="submit" value="enviar" style="border:1px solid #009; background-color:#06F; color:#FFF; width:100px; height:20px;"/>
                                        </form> 
                                    {% else %}
                                        <form  method="post" action="/panel/activacion/">{% csrf_token %}
                                        <br />
                                        {% for field in formulario %}
                                                    {{ field.errors }}
                                                    <label style="font-size:14px;">
                                                        {{ field.label }} 
                                                    </label><br />
                                                    {{ field }}<br />
                                                    {{ field.help_text }}<br />
                                        
                                        {% endfor %}
                                        <input type="hidden" value="{{ validacion.id }}" name="valid" id="valid" />
                                        <input type="submit" value="enviar" style="border:1px solid #009; background-color:#06F; color:#FFF; width:100px; height:20px;"/>
                                        </form> 
                                    {% endif %} 
                                {% else %}
                                <br>
                                A continuación deberá ingresar tu correo electrónico y el código de verificación recibido.
<br /><br />
Ten en cuenta que de no hacerlo no podrás finalizar el proceso de registro.
<br><br>
                                    <form method="post">
                                        <label>Correo Electrónico</label><br />
                                        <input style="width:200px; height:20px; border:1px solid #666;" id="correo" name="correo" /><br /><br>
                                        <label>Código de Verificación <b>(Sensible a las mayúsculas y minúsculas)</b></label><br />
                                        <input style="width:100px; height:20px; border:1px solid #666;"  id="codigo" name="codigo"  />
                                        <br /><br />
                                        <input type="submit" value="enviar" style="border:1px solid #009; background-color:#06F; color:#FFF; width:100px; height:20px;"/>
                                    </form>  
                            	{% endif %} 
                         <br />&nbsp;<br />
                         </div>
                         
                            </div>
                    </div>        

			<!-- Fin Columna Principal -->
                
            </div>
        </div>
    </div>				
							
{% endblock %}
