<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta property="og:site_name" content="Sistema Venezolano de Información sobre la Diversidad Biólogica">
<meta property="og:url" content="http://diversidadbiologica.info.ve">
<meta property="og:title" content="Diversidad Biologica">
<link type="text/css" href="/media/librerias/autocat/jquery.ui.all.css" rel="stylesheet" />
<link href="/media/librerias/css/plantilla/estilo.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/media/librerias/html5gallery/html5gallery.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Diversidad Biológica</title>
</head>

<body background="/media/librerias/index/index.jpg" style="background-size: 100%;background-attachment: fixed; 
background-repeat: no-repeat; 
background-position: center center;" onload="ajustar();">

<div style="width:100%; height:35px; position:fixed; top:0px; left:0px; z-index:2;">
<div id="wrapper-menu">
    	<div id="secWrapper-menu">
			<div id="conten-menu">
    			<div id="menu">
                    <div id="plataforma" style="width:130px; height:35px; float:left;color:#000; text-align:center; border-right:1px solid #CCC;">
                        <span style="text-align:center"><a href="/" style="text-decoration:none; cursor:pointer;color:#000;">Portada</a><img src="/media/librerias/css/plantilla/images/v.png" width="5px" height="5px" />
                        <hr width="110px" align="center" style="margin-left:10px; background:#900; border:1px solid #900;" />
                        </span>
                    </div>
                    
                    <div id="plataforma" style="width:130px; height:35px; float:left;color:#000; text-align:center; border-right:1px solid #CCC;">
                        <span style="text-align:center"><a href="/plataforma" style="text-decoration:none; cursor:pointer;color:#000;">La Plataforma</a><img src="/media/librerias/css/plantilla/images/v.png" width="5px" height="5px" />
                        <hr width="110px" align="center" style="margin-left:10px; background:#999; border:1px solid #999;" />
                        </span>
                    </div>
                    
                    <div id="especies" style="width:130px; height:35px;float:left;color:#000; text-align:center; border-right:1px solid #CCC;">
                        <span style="text-align:center"><a href="/especies" style="text-decoration:none; cursor:pointer;color:#000;">Especies</a> <img src="/media/librerias/css/plantilla/images/v.png" width="5px" height="5px" />
                        <hr width="110px" align="center" style="margin-left:10px; background:#00669b; border:1px solid #00669b;" />
                        </span>
                    </div>
                    <div id="areas" style="width:130px; height:35px;float:left;color:#000; text-align:center; border-right:1px solid #CCC;">
                        <span style="text-align:center"><a href="/areas" style="text-decoration:none; cursor:pointer;color:#000;">Areas</a> <img src="/media/librerias/css/plantilla/images/v.png" width="5px" height="5px" />
                        <hr width="110px" align="center" style="margin-left:10px; background:#6cb639; border:1px solid #6cb639;" />
                        </span>
                    </div>
                    <div id="actores" style="width:130px; height:35px;float:left;color:#000; text-align:center; border-right:1px solid #CCC;">
                        <span style="text-align:center"><a href="/actores" style="text-decoration:none; cursor:pointer; color:#000;">Actores</a> <img src="/media/librerias/css/plantilla/images/v.png" width="5px" height="5px" />
                        <hr width="110px" align="center" style="margin-left:10px; background:#f5963a; border:1px solid #f5963a;" />
                        </span>
                    </div>  
                    <div id="cuenta" style="width:130px; height:35px;float:left;color:#000; text-align:center; border-right:1px solid #CCC;">
                        <span style="text-align:center"><a href="/perfil" style="text-decoration:none; cursor:pointer; color:#000;">Tu Cuenta</a> <img src="/media/librerias/css/plantilla/images/v.png" width="5px" height="5px" />
                        <hr width="110px" align="center" style="margin-left:10px; background:#cd6530; border:1px solid #cd6530;" />
                        </span>
                    </div>
                    
    			</div>
    		</div>
    	</div>
    </div>
	</div>      
    <br />
    <br />
    <br />
    <br />	
<div id="wrapper">
    	<div id="secWrapper" style="width:987px; background-color:#FFF; border:1px solid #999;">
        	<div id="container" class="clearfix" style="width:987px;">
            	<table align="center" width="100%">
                	<tr>
                    	<td align="center">
                        <br /><br />
                        <span style="font-family:Verdana, Geneva, sans-serif; color:#333; font-style:oblique; font-weight:bold; font-size:24px;">
                        Banco Audiovisual
                        </span>                        
                        </td>
                    </tr>
                </table>
                   <br /><br />
                   <div style="text-align:center;">

    <!-- Define the Div for Gallery -->
    <!-- 1. Add class html5gallery to the Div -->
    <!-- 2. Define parameters with HTML5 data tags -->
	<div style="display:none;margin:0 auto;" class="html5gallery" data-skin="mediapage" data-width="900" data-height="400" data-resizemode="fill">
	
	    <!-- Add images to Gallery -->
		<a href="/media/librerias/html5gallery/images/Tulip_large.jpg"><img src="/media/librerias/html5gallery/images/Tulip_small.jpg" alt="Tulips"></a>
		<a href="/media/librerias/html5gallery/images/Colourful_Tulip_large.jpg"><img src="/media/librerias/html5gallery/images/Colourful_Tulip_small.jpg" alt="Colourful Tulips"></a>
		<a href="/media/librerias/html5gallery/images/Swan_large.jpg"><img src="/media/librerias/html5gallery/images/Swan_small.jpg" alt="Swan on Lake"></a>
		<a href="/media/librerias/html5gallery/images/Red_Tulip_large.jpg"><img src="/media/librerias/html5gallery/images/Red_Tulip_small.jpg" alt="Red Tulips"></a>
		<a href="/media/librerias/html5gallery/images/Sakura_Tree_large.jpg"><img src="/media/librerias/html5gallery/images/Sakura_Tree_small.jpg" alt="Sakura Trees"></a>
		
		<!-- Add videos to Gallery -->
		<!-- Big Buck Bunny Copyright 2008, Blender Foundation http://www.bigbuckbunny.org -->
		<a href="/media/librerias/html5gallery/images/Big_Buck_Bunny.mp4" data-webm="/media/librerias/html5gallery/images/Big_Buck_Bunny.webm"><img src="/media/librerias/html5gallery/images/Big_Buck_Bunny.jpg" alt="Big Buck Bunny, Copyright Blender Foundation"></a>
		
		<!-- Add Youtube video to Gallery -->
		<a href="http://www.youtube.com/embed/YE7VzlLtp-4"><img src="http://img.youtube.com/vi/YE7VzlLtp-4/2.jpg" alt="Youtube Video"></a>
		
		<!-- Add Vimeo video to Gallery -->
		<a href="http://player.vimeo.com/video/1084537?title=0&amp;byline=0&amp;portrait=0"><img src="/media/librerias/html5gallery/images/Big_Buck_Bunny.jpg" alt="Vimeo Video"></a>
        <!-- Add images to Gallery -->
		<a href="/media/librerias/html5gallery/images/Tulip_large.jpg"><img src="/media/librerias/html5gallery/images/Tulip_small.jpg" alt="Tulips"></a>
		<a href="/media/librerias/html5gallery/images/Colourful_Tulip_large.jpg"><img src="/media/librerias/html5gallery/images/Colourful_Tulip_small.jpg" alt="Colourful Tulips"></a>
		<a href="/media/librerias/html5gallery/images/Swan_large.jpg"><img src="/media/librerias/html5gallery/images/Swan_small.jpg" alt="Swan on Lake"></a>
		<a href="/media/librerias/html5gallery/images/Red_Tulip_large.jpg"><img src="/media/librerias/html5gallery/images/Red_Tulip_small.jpg" alt="Red Tulips"></a>
		<a href="/media/librerias/html5gallery/images/Sakura_Tree_large.jpg"><img src="/media/librerias/html5gallery/images/Sakura_Tree_small.jpg" alt="Sakura Trees"></a>
		
		<!-- Add videos to Gallery -->
		<!-- Big Buck Bunny Copyright 2008, Blender Foundation http://www.bigbuckbunny.org -->
		<a href="/media/librerias/html5gallery/images/Big_Buck_Bunny.mp4" data-webm="/media/librerias/html5gallery/images/Big_Buck_Bunny.webm"><img src="/media/librerias/html5gallery/images/Big_Buck_Bunny.jpg" alt="Big Buck Bunny, Copyright Blender Foundation"></a>
		
		<!-- Add Youtube video to Gallery -->
		<a href="http://www.youtube.com/embed/YE7VzlLtp-4"><img src="http://img.youtube.com/vi/YE7VzlLtp-4/2.jpg" alt="Youtube Video"></a>
		
		<!-- Add Vimeo video to Gallery -->
		<a href="http://player.vimeo.com/video/1084537?title=0&amp;byline=0&amp;portrait=0"><img src="/media/librerias/html5gallery/images/Big_Buck_Bunny.jpg" alt="Vimeo Video"></a>
        
         <!-- Add images to Gallery -->
		<a href="/media/librerias/html5gallery/images/Tulip_large.jpg"><img src="/media/librerias/html5gallery/images/Tulip_small.jpg" alt="Tulips"></a>
		<a href="/media/librerias/html5gallery/images/Colourful_Tulip_large.jpg"><img src="/media/librerias/html5gallery/images/Colourful_Tulip_small.jpg" alt="Colourful Tulips"></a>
		<a href="/media/librerias/html5gallery/images/Swan_large.jpg"><img src="/media/librerias/html5gallery/images/Swan_small.jpg" alt="Swan on Lake"></a>
		<a href="/media/librerias/html5gallery/images/Red_Tulip_large.jpg"><img src="/media/librerias/html5gallery/images/Red_Tulip_small.jpg" alt="Red Tulips"></a>
		<a href="/media/librerias/html5gallery/images/Sakura_Tree_large.jpg"><img src="/media/librerias/html5gallery/images/Sakura_Tree_small.jpg" alt="Sakura Trees"></a>
		
		<!-- Add videos to Gallery -->
		<!-- Big Buck Bunny Copyright 2008, Blender Foundation http://www.bigbuckbunny.org -->
		<a href="/media/librerias/html5gallery/images/Big_Buck_Bunny.mp4" data-webm="/media/librerias/html5gallery/images/Big_Buck_Bunny.webm"><img src="/media/librerias/html5gallery/images/Big_Buck_Bunny.jpg" alt="Big Buck Bunny, Copyright Blender Foundation"></a>
		
		<!-- Add Youtube video to Gallery -->
		<a href="http://www.youtube.com/embed/YE7VzlLtp-4"><img src="http://img.youtube.com/vi/YE7VzlLtp-4/2.jpg" alt="Youtube Video"></a>
		
		<!-- Add Vimeo video to Gallery -->
		<a href="http://player.vimeo.com/video/1084537?title=0&amp;byline=0&amp;portrait=0"><img src="/media/librerias/html5gallery/images/Big_Buck_Bunny.jpg" alt="Vimeo Video"></a>
        <!-- Add images to Gallery -->
		<a href="/media/librerias/html5gallery/images/Tulip_large.jpg"><img src="/media/librerias/html5gallery/images/Tulip_small.jpg" alt="Tulips"></a>
		<a href="/media/librerias/html5gallery/images/Colourful_Tulip_large.jpg"><img src="/media/librerias/html5gallery/images/Colourful_Tulip_small.jpg" alt="Colourful Tulips"></a>
		<a href="/media/librerias/html5gallery/images/Swan_large.jpg"><img src="/media/librerias/html5gallery/images/Swan_small.jpg" alt="Swan on Lake"></a>
		<a href="/media/librerias/html5gallery/images/Red_Tulip_large.jpg"><img src="/media/librerias/html5gallery/images/Red_Tulip_small.jpg" alt="Red Tulips"></a>
		<a href="/media/librerias/html5gallery/images/Sakura_Tree_large.jpg"><img src="/media/librerias/html5gallery/images/Sakura_Tree_small.jpg" alt="Sakura Trees"></a>
		
		<!-- Add videos to Gallery -->
		<!-- Big Buck Bunny Copyright 2008, Blender Foundation http://www.bigbuckbunny.org -->
		<a href="/media/librerias/html5gallery/images/Big_Buck_Bunny.mp4" data-webm="/media/librerias/html5gallery/images/Big_Buck_Bunny.webm"><img src="/media/librerias/html5gallery/images/Big_Buck_Bunny.jpg" alt="Big Buck Bunny, Copyright Blender Foundation"></a>
		
		<!-- Add Youtube video to Gallery -->
		<a href="http://www.youtube.com/embed/YE7VzlLtp-4"><img src="http://img.youtube.com/vi/YE7VzlLtp-4/2.jpg" alt="Youtube Video"></a>
		
		<!-- Add Vimeo video to Gallery -->
		<a href="http://player.vimeo.com/video/1084537?title=0&amp;byline=0&amp;portrait=0"><img src="/media/librerias/html5gallery/images/Big_Buck_Bunny.jpg" alt="Vimeo Video"></a>
        <a href="/media/librerias/html5gallery/images/Sakura_Tree_large.jpg"><img src="/media/librerias/html5gallery/images/Sakura_Tree_small.jpg" alt="Sakura Trees"></a>
		
		<!-- Add videos to Gallery -->
		<!-- Big Buck Bunny Copyright 2008, Blender Foundation http://www.bigbuckbunny.org -->
		<a href="/media/librerias/html5gallery/images/Big_Buck_Bunny.mp4" data-webm="/media/librerias/html5gallery/images/Big_Buck_Bunny.webm"><img src="/media/librerias/html5gallery/images/Big_Buck_Bunny.jpg" alt="Big Buck Bunny, Copyright Blender Foundation"></a>
		
		<!-- Add Youtube video to Gallery -->
		<a href="http://www.youtube.com/embed/YE7VzlLtp-4"><img src="http://img.youtube.com/vi/YE7VzlLtp-4/2.jpg" alt="Youtube Video"></a>
		
		<!-- Add Vimeo video to Gallery -->
		<a href="http://player.vimeo.com/video/1084537?title=0&amp;byline=0&amp;portrait=0"><img src="/media/librerias/html5gallery/images/Big_Buck_Bunny.jpg" alt="Vimeo Video"></a>
	
	</div>

</div>

<style type="text/css">
div.guide {margin:12px 12px;}
div.guide span {color:#ff0000; font:italic 14px Arial, Helvetica, sans-serif;}
div.guide p {color:#000000; font:14px Arial, Helvetica, sans-serif;}
div.guide pre {color:#990000;}
div.guide p.title {color:#df501f; font:18px Arial, Helvetica, sans-serif;}
</style>
            </div>
         </div>
</div>
            


<div style="margin-top:-110px; width:100%; height:95px; background-image:url(/media/librerias/index/bandalogos.png); background-repeat:repeat-x;" id="bannerAbajo2">
                        <table width="100%" id="tablabannerAbajo" height="95px" style="margin-top:-5px;">
                            <tr>
                                <td align="center" height="95px">
                                       <img src="/media/librerias/index/index1.0.png" >
                                </td>
                            </tr>
                    	</table>
</div>


</body>
</html>
