<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
@font-face {
   font-family: certificado;
   src: url("{{ MEDIA_ROOT}}librerias/tipodeletracertificado/tungstenbook.ttf");
}
@font-face {
   font-family: certificadobold;
   src: url("{{ MEDIA_ROOT}}librerias/tipodeletracertificado/tungstencompbold.ttf");
}
@page {
	font-family:certificado;
  size: {{ pagesize }};
  
} 
html, body, table, caption, tbody, tfoot, thead, tr, th, td {  
    font-family: certificado;  
}
</style>
    </head>
	<body>
    	<table width="100%" cellpadding="0" cellspacing="0">
        <tr>
        	<td width="17%">&nbsp;</td>
            <td align="right"></td>
            <td align="right">&nbsp;</td>
          </tr>
        <tr>
        	<td height="110">&nbsp;</td>
            <td width="66%">
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
                       <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
                       <br>&nbsp;
            <br>&nbsp;
     
            </td>
            <td width="17%">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
          <br><br>
          <span style="text-align:left; font-size:55px; font-weight:bold;">{{ persona.nombre|capfirst }} {{ persona.apellido|capfirst }}
          
          </span></td>
          <td width="17%">&nbsp;</td>
        </tr>
        <tr>
        	<td colspan="3" height="2px"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><span style="text-align:left; font-size:22px;">{% if persona.tipodoci = 0 %} C.I. V- {% endif %}{% if persona.tipodoci = 1 %} E- {% endif %}{% if persona.tipodoci = 2 %} P- {% endif %}{% if persona.tipodoci = 3 %} CE- {% endif %} {{ persona.documentoidentidad }}</span></td>
          <td width="17%">&nbsp;</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
            <td></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
            <td style="font-size:26px;">
            	<table cellpadding="0" cellspacing="0" align="right" style="font-size:26px;" width="100%" border="0" >
                	<tr>
                    	<td width="50px">&nbsp;</td>
                    	<td align="right">{{ evento.textosf }}</td>
                        <td width="20px"></td>
                    </tr>
                    <tr>
                    	<td></td>
                    	<td style="color:#60C; font-family:certificado;font-size:26px; font-weight:bold;" align="right"><b><strong>{{ evento.nombre }}</strong></b></td>
                        <td></td>
                    </tr>
                    <tr>
                    	<td></td>
                    	<td align="right">
                        {% if evento.coletilla %}
                        	{{ evento.coletilla }}
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                    	<td></td>
                    	<td align="right">
                        	<br>
                        	Carabobo, 08 al 12 de octubre del 2015
                            <br><br>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                    	<td></td>
                    	<td align="right" style="font-size:17px;">
                        	
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
        	<td>
            </td>
            <td>
 
               <!-- <img src="{{ MEDIA_ROOT}}librerias/firmas2.png" width="300px" >-->
            </td>
            <td>
            </td>
        </tr>
        </table>
    </body>
</html>
