
<html>
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
@font-face {
   font-family: certificado;
   src: url("{{ MEDIA_ROOT}}librerias/tipodeletracertificado/tungstenbook.ttf");
}
@font-face {
   font-family: certificadobold;
   src: url("{{ MEDIA_ROOT}}librerias/tipodeletracertificado/tungstencompbold.ttf");
}
@page {
	font-family:certificado;
  size: {{ pagesize }};
  
} 
html, body, table, caption, tbody, tfoot, thead, tr, th, td {  
    font-family: certificado;  
}
em{
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	font-style:italic;
	}
</style>
    </head>
	<body>
    {% if trabajos %}
    	<table width="100%" cellpadding="0" cellspacing="0">
        <tr>
        	<td width="17%">&nbsp;</td>
            <td align="right"></td>
            <td align="right">&nbsp;</td>
          </tr>
        <tr>
        	<td height="110">&nbsp;</td>
            <td width="66%">
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
                       <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
                       <br>&nbsp;
            <br>&nbsp;
            </td>
            <td width="17%">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
          <br><br>
          <span style="text-align:left; font-size:55px; font-weight:bold;">{{ persona.nombre|capfirst }} {{ persona.apellido|capfirst }}
          
          </span></td>
          <td width="17%">&nbsp;</td>
        </tr>
        <tr>
        	<td colspan="3" height="2px"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><span style="text-align:left; font-size:22px;">{% if persona.tipodoci = 0 %} C.I. V- {% endif %}{% if persona.tipodoci = 1 %} E- {% endif %}{% if persona.tipodoci = 2 %} P- {% endif %}{% if persona.tipodoci = 3 %} C.I. CE- {% endif %} {{ persona.documentoidentidad }}</span></td>
          <td width="17%">&nbsp;</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
            <td></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
            <td style="font-size:26px;">
            	<table cellpadding="0" cellspacing="0" align="right" style="font-size:26px;" width="100%" border="0" >
                	<tr>
                    	<td width="50px">&nbsp;</td>
                    	<td align="right">Por su participación en el</td>
                        <td width="20px"></td>
                    </tr>
                    <tr>
                    	<td></td>
                    	<td style="color:#60C; font-family:certificado;font-size:26px; font-weight:bold;" align="right"><b><strong>{{ trabajos.modalidad }}</strong></b></td>
                        <td></td>
                    </tr>
                    <tr>
                    	<td></td>
                    	<td align="right">{% autoescape on %}{{ trabajos.titulo|removetags:"p"|safe }} {% endautoescape %}</td>
                    </tr>
                    <tr>
                    	<td></td>
                    	<td align="right">
                        	Zulia, 21 al 26 de julio del 2014
                            <br><br>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                    	<td></td>
                    	<td align="right" style="font-size:17px;">
                        	{% if trabajos.coautores.all %}
                        	{{ trabajos.directorio.nombre|capfirst }} {{ trabajos.directorio.apellido|capfirst }}, 
                            {% endif %}
	                      {% for co in trabajos.coautores.all %}
                          	{% autoescape off %}{{ co.nombre|removetags:"p"|safe|capfirst }}{% endautoescape %} 
            {% autoescape off %}{{ co.apellido|removetags:"p"|safe|capfirst }}{% endautoescape %} {% if forloop.last %}.{% else %}, {% endif %}
                        {% endfor %}
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
        	<td>
            </td>
            <td>
 
               <!-- <img src="{{ MEDIA_ROOT}}librerias/firmas2.png" width="300px" >-->
            </td>
            <td>
            </td>
        </tr>
        </table>
        <div>
           <pdf:nextpage />
        </div>
        {% if imprimirTodo %}
            {% for co1 in trabajos.coautores.all %}
            <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
        	<td width="17%">&nbsp;</td>
            <td align="right"></td>
            <td align="right">&nbsp;</td>
          </tr>
        <tr>
        	<td height="110">&nbsp;</td>
            <td width="66%">
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
                       <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
                       <br>&nbsp;
            <br>&nbsp;
            </td>
            <td width="17%">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
          <br><br>
          <span style="text-align:left; font-size:55px; font-weight:bold;">{{ co1.nombre|capfirst }} {{ co1.apellido|capfirst }}
          
          </span></td>
          <td width="17%">&nbsp;</td>
        </tr>
        <tr>
        	<td colspan="3" height="2px"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><span style="text-align:left; font-size:22px;">{% if co1.tipodoci = 0 %} C.I. V- {% endif %}{% if co1.tipodoci = 1 %} E- {% endif %}{% if co1.tipodoci = 2 %} P- {% endif %}{% if co1.tipodoci = 3 %} C.I. CE- {% endif %} {{ co1.documentoidentidad }}</span></td>
          <td width="17%">&nbsp;</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
            <td></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
            <td style="font-size:26px;">
            	<table cellpadding="0" cellspacing="0" align="right" style="font-size:26px;" width="100%" border="0" >
                	<tr>
                    	<td width="50px">&nbsp;</td>
                    	<td align="right">Por su participación en el</td>
                        <td width="20px"></td>
                    </tr>
                    <tr>
                    	<td></td>
                    	<td style="color:#60C; font-family:certificado;font-size:26px; font-weight:bold;" align="right"><b><strong>{{ i.modalidad }}</strong></b></td>
                        <td></td>
                    </tr>
                    <tr>
                    	<td></td>
                    	<td align="right">{% autoescape on %}{{ trabajos.titulo|removetags:"p"|safe }} {% endautoescape %}</td>
                    </tr>
                    <tr>
                    	<td></td>
                    	<td align="right">
                        	Zulia, 21 al 26 de julio del 2014
                            <br><br>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                    	<td></td>
                    	<td align="right" style="font-size:17px;">
                        	{{ trabajos.directorio.nombre|capfirst }} {{ trabajos.directorio.apellido|capfirst }}, 
	                      {% for co2 in trabajos.coautores.all %}
                          	{% autoescape off %}{{ co2.nombre|removetags:"p"|safe|capfirst }}{% endautoescape %} 
            {% autoescape off %}{{ co2.apellido|removetags:"p"|safe|capfirst }}{% endautoescape %}{% if forloop.last %}.{% else %}, {% endif %}
                        {% endfor %}
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
        	<td>
            </td>
            <td>
 
               <!-- <img src="{{ MEDIA_ROOT}}librerias/firmas2.png" width="300px" >-->
            </td>
            <td>
            </td>
        </tr>
        </table>
        <div>
           <pdf:nextpage />
        </div>
            {% endfor %}
            {% endif %}
        {% endif %}
    </body>
</html>
