<html>
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
@page {
  size: {{ pagesize }};
  margin: 1cm;
} 
</style>
    </head>
	<body>
    	<table width="100%">
        <tr>
        	<td>&nbsp;</td>
        	<td><img src="{{ url }}media/librerias/pdf/cinsuperior.jpg">
	        	<hr style="color:#F00000;border-color:#F00;">
        	</td>
        	<td>&nbsp;</td>
          </tr>
        <tr>
        	<td>&nbsp;</td>
            <td width="86%"><span style="color:#000; font-family:Verdana, Geneva, sans-serif; font-size:15px;">
            <br><br><br><br>
            <p style="text-align:left;">
            {{ persona.nombre }} {{ persona.apellido }}<br>
			C.I. V- {{ persona.documentoidentidad }}<br>
			Presente.-  <br>
            </p>
			</span>
            </td>
            <td width="6%">&nbsp;</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
            <td><span style="color:#000; font-family:Verdana, Geneva, sans-serif; font-size:15px; text-align:justify;"><br>
            <p style="text-align:justify;">
            Sirva la presente para  extenderle un saludo revolucionario  e invitarle a participar en el {{ eventos.nombre }} que se realizará del {{ eventos.fecha|date:"d" }} al {{ eventos.fechaFin }} en {{ eventos.lugar }}.
            <br><br>El Congreso Venezolano de Diversidad Biológica es un espacio para el encuentro de saberes, el intercambio de experiencias y la articulación, que permite la reflexión colectiva a través del debate sobre causas estructurales de la crisis ambiental global, para generar discursos, acciones, agendas comunes, políticas orientadas hacia la construcción de un modelo de vida basado en una relación diferente entre los seres humanos y la Madre tierra, fundamentada en la sustentabilidad ecológica, cultural, social y política. Este año el congreso estará dedicado a debatir sobre la Semilla para la Vida y la Soberanía Alimentaria.<br><br>
Para mayor información relacionada con la Estrategia Nacional para la Conservación de la Diversidad Biológica 2010-2020, áreas temáticas, 
preinscripciones, registro de trabajos y actividades en el marco del congreso le invitamos a visitar la página www.congresodiversidadbiologica.com.ve. Además, puede comunicarse con el comité organizador por el teléfono (0212) 4084758 o  a  
través del correo electrónico congresodiversidadbiologica@gmail.com<br><br>
Esperando contar con su participación, me despido.<br>
</p>
</span>
</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
            <td>
            <span style="color:#000; font-family:Verdana, Geneva, sans-serif; font-size:15px; text-align:center;"><br>
            <p style="text-align:center;"><br>
            <img src="{{ url }}media/librerias/imgs/firma2.jpg">
            </p>
</span>
            </td>
            <td>&nbsp;</td>
        </tr>
        </table>
    </body>
</html>