<html>
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
@page {
  size: {{ pagesize }};
  margin: 1cm;
} 
</style>
    </head>
	<body>
    	<table width="100%">
        <tr>
        	<td>&nbsp;</td>
        	<td><img src="{{ url }}media/librerias/pdf/cinsuperior.jpg"></td>
        	<td>&nbsp;</td>
          </tr>
        <tr>
        	<td width="8%">&nbsp;</td>
            <td align="right"><br><span style="color:#F00; font-family:Verdana, Geneva, sans-serif; font-size:12px;">Fundación Nacional de Parques Zoológicos y Acuarios</span></td>
            <td align="right">&nbsp;</td>
          </tr>
        <tr>
        	<td>&nbsp;</td>
            <td width="86%"><span style="color:#000; font-family:Verdana, Geneva, sans-serif; font-size:15px;">
            <br><br><br><br>
            <p style="text-align:left;">
            {{ persona.nombre }} {{ persona.apellido }}<br>
			C.I. V- {{ persona.documentoidentidad }}<br>
			Presente.-  <br>
            </p>
			</span>
            </td>
            <td width="6%">&nbsp;</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
            <td><span style="color:#000; font-family:Verdana, Geneva, sans-serif; font-size:15px; text-align:justify;"><br>
            <p style="text-align:justify;">
            Sirva la presente comunicación para invitarle a participar en el {{ eventos.nombre }} que se realizará del 
            {{ eventos.fecha|date:"d" }} al {{ eventos.fechaFin }} en {{ eventos.lugar }}. Este congreso constituye un espacio de implementación del Plan de la Patria, que nos llama a contribuir con la preservación de la vida en el planeta y la salvación de la especie humana.<br><br>
Para mayor información relacionada con la Estrategia Nacional para la Conservación de la Diversidad Biológica 2010-2020, áreas temáticas, preinscripciones, registro de trabajos y actividades en el marco del congreso le invitamos a visitar la página www.diversidadbiologica.info.ve. Además, puede comunicarse con el comité organizador por los teléfonos (0212)4084758 o (0416)6645011 a través del correo electrónico congresodiversidadbiologica@gmail.com<br><br>
Esperando contar con su participación, me despido.<br>
</p>
</span>
</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
            <td>
            <span style="color:#000; font-family:Verdana, Geneva, sans-serif; font-size:15px; text-align:center;"><br>
            <p style="text-align:center;">
            <img src="{{ url }}media/librerias/imgs/firma.jpg">
            </p>
</span>
            </td>
            <td>&nbsp;</td>
        </tr>
        </table>
    </body>
</html>