{% extends "completo.html"%}

{% block content %}
<script>
	function menu(){
		document.getElementById('cuenta').style.backgroundColor='#FFF';
	}
	window.onload=menu();
</script>
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>-->
<link rel="stylesheet" type="text/css" href="/media/css/plantilla/notificaciones/css/jquery.gritter.css" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="/media/css/plantilla/notificaciones/js/jquery.gritter.js"></script>
<script type="text/javascript">
function searchOpen() {
    var search = $('#txtSearch').val()
    var data = {
        search: search
    };
    $.ajax({
        url: '/search.json',
        data: data,
        dataType: 'jsonp',
        jsonp: 'callback',
        jsonpCallback: 'searchResult'
    });
}

function searchResult(data) {
    $( "#txtSearch" ).autocomplete ({
        source: data
    });
}

$(document).ready(function() {
	
	

});
</script>
{% if msm %}
<script>
$(document).ready(function() {
$.gritter.add({
		// (string | mandatory) the heading of the notification
		title: '<b style="color:#fff">Notificacion de Error!</b>',
		// (string | mandatory) the text inside the notification
		text: 'Se ha presentado un error al momento de realizar el envio del formulacion, por favor verifique la informacion e intentelo nuevamente...',
		// (string | optional) the image to display on the left
		image: '/media/css/plantilla/notificaciones/css/safe_image.png',
		// (bool | optional) if you want it to fade out on its own or just sit there
		sticky: false,
		// (int | optional) the time you want it to be alive for before fading out
		time: ''
	});

	return false;

});
</script>
{% endif %}

<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/c/video.js"></script>
<style>
#hongkiat-form input {
background: #fff url('/media/css/plantilla/images/Libros.png') 5px 4px no-repeat;
}
#hongkiat-form select {
background: #fff url('/media/css/plantilla/images/Libros.png') 5px 4px no-repeat;
}
#hongkiat-form option {
background: #fff url('/media/css/plantilla/images/Libros.png') 5px 4px no-repeat;
}
#hongkiat-form textarea {
background: #fff url('/media/css/plantilla/images/Libros.png') 5px 4px no-repeat;
}

</style>
 <div id="wrapper">
    	<div id="secWrapper">
        	<div id="container" class="clearfix">
            <br />
            <br />
            <br />
            	<div style="width:940px; background-color:#E6E6E6; border:1px solid #C0C0C0
; height:22px; text-align:left;">
                	<span style="text-align:left; margin-left:15px;">
                    	Tu cuenta > Biblioteca > Agregar
                    </span>
                </div>
             <br />
			 <!-- Columna Principal -->
            	<div id="mainCol" class="clearfix">
                	<div style="border:1px solid #C0C0C0
; background:url(/media/css/plantilla/images/bbplataforma.png) top repeat-x;">
                    	<br />
                        <br />
                  		<div style="text-align:center;margin-left:25px; margin-right:25px;">
                        	<span style="text-align:center; font-style:italic;" class="titulo1">
                  				Nuevo Aporte a la Biblioteca
                  			</span>
                        </div>
                        <br />
                  		<div style="text-align:justify;margin-left:25px; margin-right:25px;" class="texto_regular">
                    		<section id="container">
                            	<form enctype="multipart/form-data" action=""name="hongkiat" id="hongkiat-form" method="post" style="margin-left:10px;">
								{% csrf_token %}
                        		<div id="wrapping" class="clearfix">
                            		<section id="aligned">
                                    <label style="font-size:14px;">
                                    <img src="/media/css/plantilla/images/icon_alert_error.gif" height="15px" />
                                    Titulo
                                    </label>
                                    <input type="text" name="search" id="txtSearch" onkeyup="searchOpen()" />
                                    
                            		</section>
                        		</div>
                            	<section id="buttons">
                                	<input type="reset" name="reset" id="resetbtn" class="resetbtn" value="Limpiar">
                                	<input type="submit" name="submit" id="submitbtn" class="submitbtn" tabindex="7" value="Enviar">
                                	<br style="clear:both;">
                            	</section>
                            	</form>
                        	</section>
						</div>
                	</div>
                </div>
			<!-- Fin Columna Principal -->
            <div id="secCol">
            	<div id="noticias" style="border:1px solid #CCC; width:218px; background-color:#FFF;">
                &nbsp;&nbsp;&nbsp;Hola, <span style="font-style:italic;">{{ persona.nombre }}</span> (<a href="/salir.php">Salir</a>)
                </div>
                <div id="secCol-punta">
                </div>
                <br />
                <div id="noticias" style="border:1px solid #CCC; width:218px; background-color:#FFF;">
                &nbsp;&nbsp;&nbsp;Todos los campos que tengan la siguiente imagen <img src="/media/css/plantilla/images/icon_alert_error.gif" height="15px" /> se consideran importante, por lo tanto, son obligatorios.
                </div>
                <div id="secCol-punta">
                </div>
                <br />
            {% for item in lateral %}
            	<div id="noticias" style="border:1px solid #C0C0C0
; width:218px; background-color:#FFF;">
                {% autoescape off %}{{ item.descripcion	 }}{% endautoescape %}
                </div>
                <div id="secCol-punta">
                </div>
                <br />
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}





