{% extends "completo.html"%}

{% block content %}
<script>
	function menu(){
		document.getElementById('cuenta').style.backgroundColor='#FFF';
	}
	window.onload=menu();
</script>
<link rel="stylesheet" type="text/css" href="/media/librerias/css/plantilla/notificaciones/css/jquery.gritter.css" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="/media/librerias/css/plantilla/notificaciones/js/jquery.gritter.js"></script>
{% if msm %}
<script>
$(document).ready(function() {
$.gritter.add({
		// (string | mandatory) the heading of the notification
		title: '<b style="color:#fff">Registro procesado!</b>',
		// (string | mandatory) the text inside the notification
		text: 'La información ha sido registrada en el sistema. Gracias por participar en la Construcción Colectiva. SVIDB.',
		// (string | optional) the image to display on the left
		image: '/media/librerias/css/plantilla/notificaciones/css/AZ.png',
		// (bool | optional) if you want it to fade out on its own or just sit there
		sticky: false,
		// (int | optional) the time you want it to be alive for before fading out
		time: ''
	});

	return false;

});
</script>
{% endif %}
 <div id="wrapper">
    	<div id="secWrapper">
        	<div id="container" class="clearfix">
            <br />
            <br />
            <br />
            	<div style="width:940px; background-color:#E6E6E6; border:1px solid #C0C0C0
; height:22px; text-align:left;">
                	<span style="text-align:left; margin-left:15px;">
                    	Tu cuenta > Biblioteca
                    </span>
                </div>
             <br />
			 <!-- Columna Principal -->
             <div id="mainCol" class="clearfix">
                	<div style="border:1px solid #C0C0C0
; background:url(/media/librerias/css/plantilla/images/bbplataforma.png) top repeat-x;">
                    	<br />
                        <br />
                  		<div style="text-align:center;margin-left:25px; margin-right:25px;">
                        	<span style="text-align:center; font-style:italic;" class="titulo1">
                  				Biblioteca
                  			</span>
                        </div>
                        <br />
                  		<div style="text-align:justify;margin-left:25px; margin-right:25px;" class="texto_regular">
                    		A través de los siguientes enlaces podrás contribuir con diversos documentos entre los que encontramos: tesis de grado, carteles de congresos, libros, informes técnicos, guías, materiales divulgativos, entre otros. El material cargado, luego de una verificación será puestos a disposición del público a través del portal.<br />
<br />
Para ello debes cumplir con alguno de los siguientes requisitos:<br /><br />

1.Eres el autor del documento.<br />
2 El derecho de autor está en el dominio público porque ha caducado.<br />
3.Eres propietario/a del derecho de autor, pero no estás interesado/a en ejercer este control.<br />
                            <br /><br />
                        </div>
                           
                         <div style="text-align:justify;margin-left:25px; margin-right:25px;" class="texto_regular">
                            <table cellpadding="10" cellspacing="10" border="0">
                            <tr>
                            <td>
                            <a href="/panel/biblioteca/lista"><img src="/media/librerias/css/plantilla/images/biblio_cons.png" /></a>
                            </td>
                            <td>
                            <a href="/panel/biblioteca/add"><img src="/media/librerias/css/plantilla/images/nuevo.png" /></a>
                            </td>
                            </tr>
                            <tr style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; color:#666; font-weight:bold;">
                            	<td align="center">Ver Aportes</td>
                                <td align="center">Nueva Contribución</td>
                            </tr>
                            </table>
                            <br />&nbsp;<br />
                          </div>
                         
                            </div>
                    </div>        

			<!-- Fin Columna Principal -->
                <div id="secCol">
                	<div id="noticias" style="border:1px solid #CCC; width:218px; background-color:#FFF;">
					&nbsp;&nbsp;&nbsp;Hola, <span style="font-style:italic;">{{ persona.nombre }}</span> (<a href="/salir.php">Salir</a>)
                    </div>
                    <div id="secCol-punta">
                    </div>
                    <br />
                    <div id="noticias" style="border:1px solid #CCC; width:218px; background-color:#FFF;">
						
                    </div>
                    <div id="secCol-punta">
                    </div>
                </div>
            </div>
        </div>
    </div>				
							
{% endblock %}
