{% extends "mogie/publico/base.html"%}
{% block LibreriasCSS %}
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="/media/librerias/mogie/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="/media/librerias/mogie/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/media/librerias/mogie/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/media/librerias/mogie/assets/css/animate.min.css" rel="stylesheet" />
	<link href="/media/librerias/mogie/assets/css/style.min.css" rel="stylesheet" />
	<link href="/media/librerias/mogie/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="/media/librerias/mogie/assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
		
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="/media/librerias/mogie/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />	
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/media/librerias/mogie/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->

{% endblock %}

		{% block MenuSuperior %}
				<!-- end mobile sidebar expand / collapse button -->
				<div class="collapse navbar-collapse pull-left" id="top-navbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="/mogie" class="dropdown-toggle">
                                <i class="fa fa-th-large fa-fw"></i> Inicio <b class="caret"></b>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="/mogie/eventos/pagina/1" class="dropdown-toggle">
                                <i class="fa fa-th-large fa-fw"></i> Eventos <b class="caret"></b>
                            </a>
                        </li>
                    </ul>
                </div>
				<!-- end navbar-collapse -->
		{% endblock %} 
				
		{% block MenuPerfil %}
				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Buscador" />
								<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</li>
					
					<li class="dropdown navbar-user">
					{% if perfil %}
					   <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						    <img src="/media/{{ resultado.foto }}" alt="" /> 
						    <span class="hidden-xs">{{ perfil.persona.nombre }} {{ perfil.persona.apellido }} </span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
						    <li class="arrow"></li>
						    <li><a href="/mogie/perfil">Editar Perfil</a></li>
						    <li><a href="/mogie/admin">Panel de Usuario</a></li>
						    <li class="divider"></li>
						    <li><a href="/mogie/salir">Cerrar Sesión</a></li>
						</ul>
					{% else %}
						<a href="/mogie/admin" class="dropdown-toggle">
							Iniciar Sesión
						</a>
				    {% endif %}
					</li>
					
				</ul>
				<!-- end header navigation right -->
		{% endblock %}
		
		{% block ContenidoPagina %}
		<br>
		<br>
		<br>
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="/mogie/eventos/detalle/{{ trabajo.evento.id }}">{{ trabajo.evento }}</a></li>
				<li><a href="/mogie/eventos/detalle/{{ trabajo.evento.id }}#listadoresumenes">Listado de resumenes</a></li>
				<li class="active">Pre-visual</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Pre-visual del Resumen <small></small></h1>
			<!-- end page-header -->
			<div class="invoice">
                <div class="invoice-note">
                        	<table width="800px">
        <tr>
        	<td>&nbsp;</td>
        	<td><img src="/media/{{ configuracion.header }}" width="760px"></td>
        	<td>&nbsp;</td>
          </tr>
        <tr>
        	<td width="8%">&nbsp;</td>
            <td align="right"><br><span style="color:#F00; font-family:Verdana, Geneva, sans-serif; font-size:12px;">Sistema Venezolano de Informaci&oacute;n sobre la Diversidad Biol&oacute;gica.</span></td>
            <td align="right">&nbsp;</td>
          </tr>
          <tr>
        	<td width="8%">&nbsp;</td>
            <td align="center"><br><br><br><span style="color:#000; font-family:Verdana, Geneva, sans-serif; font-size:17px;">RESUMEN</span></td>
            <td align="right">&nbsp;</td>
          </tr>
        <tr>
        	<td>&nbsp;</td>
            <td width="86%"><span style="color:#000; font-family:Verdana, Geneva, sans-serif; font-size:15px;">
            <br>
            {% autoescape off %}{{ trabajo.titulo|removetags:"p"|safe }}{% endautoescape %}<br><br>
            {% autoescape off %}{{ trabajo.directorio.apellido|removetags:"p"|safe|lower|title }}{% endautoescape %},
            {% autoescape off %}{{ trabajo.directorio.nombre|removetags:"p"|safe|first|capfirst }}{% endautoescape %}* 
            {% for ca in coautores %}
        		; {% autoescape off %}{{ ca.personas.apellido|removetags:"p"|safe|lower|title  }}{% endautoescape %},
            	{% autoescape off %}{{ ca.personas.nombre|removetags:"p"|safe|first|capfirst  }}{% endautoescape %}{% endfor %}
            
            <br><br>
            {% for ca in instituciones %}
        		{% autoescape off %}{% if ca.instituciones.nombre_completo %}{{ca.instituciones.nombre_completo}} {% else %} {{ca.nombre }} {% endif %}{% endautoescape %}<br>
    		{% endfor %}
            *{% autoescape off %}{{ trabajo.directorio.correo|removetags:"p"|safe }}{% endautoescape %}<br>
            <br><br>
            <p align="justify">
            {% autoescape off %}{{ trabajo.resumen|removetags:"p div span"|safe }}{% endautoescape %}<br>
   			</p>
			</span>
            </td>
            <td width="6%">&nbsp;</td>
        </tr>
        
        <tr>
        	<td>&nbsp;</td>
            <td>
            <span style="color:#000; font-family:Verdana, Geneva, sans-serif; font-size:15px; text-align:center;"><br>
            <p style="text-align:center;"><br>
            <img src="/media/{{ configuracion.firma }}">
            </p>
</span>
            </td>
            <td>&nbsp;</td>
        </tr>
        
        </table>
                </div>
                <div class="invoice-footer text-muted">
                    <p class="text-center m-b-5">
                        SISTEMA VENEZOLANO DE INFORMACION SOBRE LA DIVERSIDAD BIOLOGICA
                    </p>
                    <p class="text-center">
                        <span class="m-r-10"><i class="fa fa-globe"></i> matiasgallipoli.com</span>
                        <span class="m-r-10"><i class="fa fa-phone"></i> T:016-18192302</span>
                        <span class="m-r-10"><i class="fa fa-envelope"></i> rtiemps@gmail.com</span>
                    </p>
                </div>
            </div>
		</div>
		<!-- end #content -->
		
		
		
		{% endblock %}

{% block LibreriasJS %}
<!-- ================== BEGIN BASE JS ================== -->
	<script src="/media/librerias/mogie/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="/media/librerias/mogie/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="/media/librerias/mogie/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="/media/librerias/mogie/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="/media/librerias/mogie/assets/crossbrowserjs/html5shiv.js"></script>
		<script src="/media/librerias/mogie/assets/crossbrowserjs/respond.min.js"></script>
		<script src="/media/librerias/mogie/assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="/media/librerias/mogie/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/media/librerias/mogie/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="/media/librerias/mogie/assets/plugins/gritter/js/jquery.gritter.js"></script>
	<script src="/media/librerias/mogie/assets/js/ui-modal-notification.demo.min.js"></script>
	<script src="/media/librerias/mogie/assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
			Notification.init();
		});
	</script>
{% endblock %}
