{% extends "mogie/publico/base.html"%}
{% block LibreriasCSS %}
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="/media/librerias/mogie/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="/media/librerias/mogie/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/media/librerias/mogie/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/media/librerias/mogie/assets/css/animate.min.css" rel="stylesheet" />
	<link href="/media/librerias/mogie/assets/css/style.min.css" rel="stylesheet" />
	<link href="/media/librerias/mogie/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="/media/librerias/mogie/assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
		
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="/media/librerias/mogie/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />	
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/media/librerias/mogie/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->

{% endblock %}

		{% block MenuSuperior %}
				<!-- end mobile sidebar expand / collapse button -->
				<div class="collapse navbar-collapse pull-left" id="top-navbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="/mogie" class="dropdown-toggle">
                                <i class="fa fa-th-large fa-fw"></i> Inicio <b class="caret"></b>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="/mogie/eventos/pagina/1" class="dropdown-toggle">
                                <i class="fa fa-th-large fa-fw"></i> Eventos <b class="caret"></b>
                            </a>
                        </li>
                    </ul>
                </div>
				<!-- end navbar-collapse -->
		{% endblock %} 
				
		{% block MenuPerfil %}
				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Buscador" />
								<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</li>
					
					<li class="dropdown navbar-user">
					{% if perfil %}
					   <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						    <img src="/media/{{ resultado.foto }}" alt="" /> 
						    <span class="hidden-xs">{{ perfil.persona.nombre }} {{ perfil.persona.apellido }} </span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
						    <li class="arrow"></li>
						    <li><a href="/mogie/perfil">Editar Perfil</a></li>
						    <li><a href="/mogie/admin">Panel de Usuario</a></li>
						    <li class="divider"></li>
						    <li><a href="/mogie/salir">Cerrar Sesión</a></li>
						</ul>
					{% else %}
						<a href="/mogie/admin" class="dropdown-toggle">
							Iniciar Sesión
						</a>
				    {% endif %}
					</li>
					
				</ul>
				<!-- end header navigation right -->
		{% endblock %}
		
		{% block ContenidoPagina %}
		<br>
		<br>
		<br>
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="/mogie">Inicio</a></li>
				<li><a href="/mogie/eventos/pagina/1">Eventos</a></li>
				<li class="active">Detalle</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Detalles del Eventos <small></small></h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
			    <!-- begin col-12 -->
			    <div class="col-md-12">
			        <div class="result-container">
                        <ul class="result-list">
                        	{% if eventos %}
                            <li>
                                <div class="result-image">
                                    <a href="javascript:;"><img src="/media/{{ eventos.pathimg }}" alt="" /></a>
                                </div>
                                <div class="result-info">
                                    <h4 class="title">{{eventos.nombre}}</h4>
                                    <p class="location">{{eventos.lugar}}</p>
                                    <p class="desc">
                                        {% autoescape off %}{{ eventos.descripcion }}{% endautoescape %}
                                    </p>
                                    <div class="btn-row">
                                        
                                        <a href="#modalidadesdisponibles" data-toggle="tooltip" data-container="body" data-title="Listado de Modalidades"><i class="fa fa-fw fa-tasks"></i></a>
                                        <a href="#cursosdisponibles" data-toggle="tooltip" data-container="body" data-title="Listado de Cursos"><i class="fa fa-fw fa-tasks"></i></a>
                                        <a href="#listadoresumenes" data-toggle="tooltip" data-container="body" data-title="Resumenes postulados"><i class="fa fa-fw fa-tasks"></i></a>
                                        
                                    </div>
                                </div>
                       
                            </li>
                            {% endif %}
                        </ul>
                        
                    </div>
			    </div>
			    <!-- end col-12 -->
			</div>
			<!-- end row -->
			<br>
			<br>
			<div class="invoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    {% if resultado %}
	                    {% if eventos.opt1 %}
	                    {% if hoy >= eventos.fechaInicioInscripcion and hoy <= eventos.fechaFinInscripcion %}
	                    {% if participacion %}
	                    	{% if participacion.estatu == 0 %}
	                    		<a class="btn btn-sm btn-success m-b-10" data-toggle="modal"><i class="fa fa-download m-r-5"></i> Por validar</a>
	                    	{% endif %}
	                    	{% if participacion.estatu == 2 %}
	                    		<a class="btn btn-sm btn-success m-b-10" data-toggle="modal"><i class="fa fa-download m-r-5"></i> Ya se encuentra pre-inscrito</a>
	                    	{% endif %}
	                    {% else %}
						    <a href="#modal-alert" class="btn btn-sm btn-success m-b-10" data-toggle="modal"><i class="fa fa-download m-r-5"></i> Pre-inscribirse</a>
						{% endif %}
						{% else %}
						    
						{% endif %}
	                    	
	                    {% endif %}
                    {% endif %}
                    <a href="#modal-contactos" data-toggle="modal" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> Contactar</a>
                    </span>
                    Detalles del Evento
                </div>
                <div class="invoice-header">
                    <div class="invoice-from">
                        <small>Contactos</small>
                        
                    </div>
                    <div class="invoice-to">
                        <small>Redes Sociales</small>
                        
                    </div>
                    <div class="invoice-date">
                        <small>Fechas</small>
                        <div class="date m-t-5"></div>
                        <div class="invoice-detail">
                            {{ eventos.fecha }} al {{ eventos.fechaFin }}<br>
                            
                        </div>
                    </div>
                </div>
                <div id="modalidadesdisponibles"></div>
            
            <BR>
            <br>
            <BR>
            <br>
            <BR>
            <br>
                <div class="invoice-content">
                    <div class="table-responsive">
                        <table class="table table-invoice">
                            <thead>
                                <tr>
                                    <th>MODALIDADES PARA POSTULACION DE TRABAJOS</th>
                                    
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for i in eventos.modalidad.all %}
                                <tr>
                                    <td>
                                        <b>{{ i.nombre }}</b><br>
                                        <small>{% autoescape off %}{{ i.descripcion|removetags:"b span p strong" }}{% endautoescape %}</small>
                                    </td>
                                    
                                    <td>
                                    {% if eventos.estatu == 0 %}
                                    {% if hoy >= eventos.fechaInicioTrabajos and hoy <= eventos.fechaFinTrabajos %}
                                    <a href="/mogie/eventos/resumenes/{{ eventos.id }}/{{ i.id }}" class="btn btn-sm btn btn-warning m-b-10"><i class="fa fa-print m-r-5"></i> POSTULAR RESUMEN</a>
                                    {% endif %}
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                
            </div>
            <div id="cursosdisponibles"></div>
            
            <BR>
            <br>
            <BR>
            <br>
            <BR>
            <br>
            <div class="invoice">
                <div class="invoice-content">
                    <div class="table-responsive">
                        <table class="table table-invoice">
                            <thead>
                                <tr>
                                    <th>CURSOS DISPONIBLES PARA ESTE EVENTO</th>
                                    
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            
                            {% for e in cursos %}
                                <tr>
                                    <td>
                                        <b>{{ e }}</b><br>
                                        <small>{% autoescape off %}{{ e.descripcion|removetags:"b span p strong" }}{% endautoescape %}</small>
                                    </td>
                                    
                                    <td>
                                    {% if e.opt1 %}
                                    {% if hoy >= e.fechaInicioInscripcion and hoy <= e.fechaFinInscripcion %}
									    <a href="/mogie/eventos/detalle/{{ e.id }}" class="btn btn-sm btn btn-danger m-b-10"><i class="fa fa-print m-r-5"></i> PRE-INSCRIBIRSE</a>
									{% else %}
									    
									{% endif %}
									{% else %}
                                    {% if hoy >= e.fechaInicioInscripcion and hoy <= e.fechaFinInscripcion %}
									    <a href="/mogie/eventos/detalle/{{ e.id }}" class="btn btn-sm btn btn-danger m-b-10"><i class="fa fa-print m-r-5"></i> PRE-INSCRIBIRSE</a>
									{% else %}
									    
									{% endif %} 
                                    
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="listadoresumenes"></div>
            
            <BR>
            <br>
            <BR>
            <br>
            <BR>
            <br>
            <div class="invoice" >
                <div class="invoice-content">
                    <div class="table-responsive">
                        <table class="table table-invoice">
                            <thead>
                                <tr>
                                    <th>TRABAJOS POSTULADOS PARA ESTE EVENTO COMO AUTOR</th>
                                    
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            
                            {% for e in trabajosAutor %}
                                
                                    	<!-- ACEPTADO -->
                                    	{% if e.estatu == 1 %}
								<tr>
                                    <td>
                                    	<div class="alert alert-success fade in">
				                            
				                            <i class="fa fa-check fa-2x pull-left"></i>
				                            <b><a href="/mogie/eventos/resumen/{{ e.id }}">{{ e.titulo }}</a></b><br>
											<small>{% autoescape off %}{{ e.resumen|removetags:"b span p strong" }}{% endautoescape %}</small>
										</div>
									</td>
                                    <td>
                                    </td>
                                </tr>
										{% endif %}
										<!-- RECHAZADO -->
										{% if e.estatu == 2 %}
								<tr>
                                    <td>
                                    	<div class="alert alert-danger fade in">
				                            
				                            <i class="fa fa-exclamation-triangle fa-2x pull-left"></i>
				                            <b><a href="/mogie/eventos/resumen/{{ e.id }}">{{ e.titulo }}</a></b><br>
											<small>{% autoescape off %}{{ e.resumen|removetags:"b span p strong" }}{% endautoescape %}</small>
										</div>
									</td>
                                    <td>
                                    </td>
                                </tr>
										{% endif %}
					
										<!-- ACEPTADO CON MODIFICACIONES -->
										{% if e.estatu == 3 %}
								<tr>
                                    <td>
                                    	<div class="alert alert-info fade in">
				                            
				                            <i class="fa fa-exclamation fa-2x pull-left"></i>
				                            <b><a href="/mogie/eventos/resumen/{{ e.id }}">{{ e.titulo }}</a></b><br>
											<small>{% autoescape off %}{{ e.resumen|removetags:"b span p strong" }}{% endautoescape %}</small>
										</div>
									</td>
                                    <td>
                                    </td>
                                </tr>
										{% endif %}
										<!-- POR ARBITRAR -->
										{% if e.estatu == 4 %}
								<tr>
                                    <td>
                                    	<div class="alert alert-primary fade in">
				                            
				                            <i class="fa fa-history fa-2x pull-left"></i>
				                            <b><a href="/mogie/eventos/resumen/{{ e.id }}">{{ e.titulo }}</a></b><br>
											<small>{% autoescape off %}{{ e.resumen|removetags:"b span p strong" }}{% endautoescape %}</small>
										</div>
									</td>
                                    <td>
                                    </td>
                                </tr>
										{% endif %}
										<!-- REGISTRADO -->
										{% if e.estatu == 5 %}
								<tr>
                                    <td>
                                    	<div class="alert alert-default fade in">
				                            
				                            <i class="fa fa-circle-o-notch fa-2x pull-left"></i>
				                            <b><a href="/mogie/eventos/resumen/{{ e.id }}">{{ e.titulo }}</a></b><br>
											<small>{% autoescape off %}{{ e.resumen|removetags:"b span p strong" }}{% endautoescape %}</small>
										</div>
									</td>
                                    <td>
                                    </td>
                                </tr>
										{% endif %}
                                    
										<!-- ARBITRANDO -->
										{% if e.estatu == 6 %}
								<tr>
                                    <td>
                                    	<div class="alert alert-default fade in">
				                            
				                            <i class="fa fa-institution alias fa-2x pull-left"></i>
				                            <b><a href="/mogie/eventos/resumen/{{ e.id }}">{{ e.titulo }}</a></b><br>
											<small>{% autoescape off %}{{ e.resumen|removetags:"b span p strong" }}{% endautoescape %}</small>
										</div>
									</td>
                                    <td>
                                    </td>
                                </tr>
										{% endif %}                                        
                                    
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
			<br>
			<div class="invoice">
                <div class="invoice-note">
                    * Normas<br>
                    * Normas<br>
                    * Normas
                </div>
                <div class="invoice-footer text-muted">
                    <p class="text-center m-b-5">
                        SISTEMA VENEZOLANO DE INFORMACION SOBRE LA DIVERSIDAD BIOLOGICA
                    </p>
                    <p class="text-center">
                        <span class="m-r-10"><i class="fa fa-globe"></i> matiasgallipoli.com</span>
                        <span class="m-r-10"><i class="fa fa-phone"></i> T:016-18192302</span>
                        <span class="m-r-10"><i class="fa fa-envelope"></i> rtiemps@gmail.com</span>
                    </p>
                </div>
            </div>
            
            				<div class="modal fade" id="modal-alert">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title">PREINSCRIPCION</h4>
										</div>
										<div class="modal-body">
											<div class="note note-success">
												<h4>¿ESTA SEGUR@?</h4>
												<p>
												    Si desea continuar con la operación haga clic en el botón "CONTINUAR". De lo contrario haga clic en "CANCELAR". Tenga en cuenta que de continuar acepta las políticas y normas de la actividad.
				                                </p>
											</div>
										</div>
										<div class="modal-footer">
											<a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
											<a href="/mogie/eventos/preinscripcion/{{ eventos.id }}" class="btn btn-sm btn-danger">Continuar</a>
										</div>
									</div>
								</div>
							</div>
							<div class="modal fade" id="modal-contactos">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title">FORMULARIO DE CONTACTO</h4>
										</div>
										<div class="modal-body">
											<form class="form-horizontal">
					                            <div class="form-group">
					                                <label class="control-label col-md-3">Nombre <span class="text-theme">*</span></label>
					                                <div class="col-md-9">
					                                    <input type="text" class="form-control">
					                                </div>
					                            </div>
					                            <div class="form-group">
					                                <label class="control-label col-md-3">Correo <span class="text-theme">*</span></label>
					                                <div class="col-md-9">
					                                    <input type="text" class="form-control">
					                                </div>
					                            </div>
					                            <div class="form-group">
					                                <label class="control-label col-md-3">Mensaje <span class="text-theme">*</span></label>
					                                <div class="col-md-9">
					                                    <textarea class="form-control" rows="10"></textarea>
					                                </div>
					                            </div>
					                            <div class="form-group">
					                                <label class="control-label col-md-3"></label>
					                                <div class="col-md-9 text-left">
					                                    <button type="submit" class="btn btn-theme btn-success">Enviar Mensaje</button>
					                                </div>
					                            </div>
					                        </form>
										</div>
									</div>
								</div>
							</div>
		</div>
		<!-- end #content -->
		
		
		
		{% endblock %}

{% block LibreriasJS %}
<!-- ================== BEGIN BASE JS ================== -->
	<script src="/media/librerias/mogie/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="/media/librerias/mogie/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="/media/librerias/mogie/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="/media/librerias/mogie/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="/media/librerias/mogie/assets/crossbrowserjs/html5shiv.js"></script>
		<script src="/media/librerias/mogie/assets/crossbrowserjs/respond.min.js"></script>
		<script src="/media/librerias/mogie/assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="/media/librerias/mogie/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/media/librerias/mogie/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="/media/librerias/mogie/assets/plugins/gritter/js/jquery.gritter.js"></script>
	<script src="/media/librerias/mogie/assets/js/ui-modal-notification.demo.min.js"></script>
	<script src="/media/librerias/mogie/assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
			Notification.init();
		});
	</script>
{% endblock %}
