{% extends "completo.html"%}

{% block content %}
<script>
	function menu(){
		document.getElementById('cuenta').style.backgroundColor='#FFF';
	}
	window.onload=menu();
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
		  
        var data = google.visualization.arrayToDataTable([
          ['Clasificacion', 'Numero'],
          ['Actores con datos completos (Activos)',     {{ actores_activos }}],
          ['Actores con datos completos (Pendientes)',     {{ actores_pendientes }}],
          ['Actores con datos parciales (Activos)',     {{ actores_datosp }}],
          ['Actores con datos parciales (Pendientes)',     {{ actores_datospp }}],
          ['Actores restantes',     ({{ actores }} - ({{ actores_datospp }} + {{ actores_datosp }} + {{ actores_activos }} + {{ actores_pendientes }})) ],
		  
		  
        ]);
/*({{ actores }} - ({{ actores_datospp }} + {{ actores_datosp }} + {{ actores_activos }} + {{ actores_pendientes }}))*/
        var options = {
          title: 'Actores según estatus de colaboración - Total ({{ actores }})'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>


 <div id="wrapper">
    	<div id="secWrapper">
        	<div id="container" class="clearfix">
            <br />
            <br />
            <br />
            	<div style="width:940px; background-color:#E6E6E6; border:1px solid #CCC; height:22px; text-align:left;">
                	<span style="text-align:left; margin-left:15px;">
                    	Tu cuenta
                    </span>
                </div>
             <br />
			 <!-- Columna Principal -->
            	<div id="mainCol" class="clearfix">
                <div style="border:1px solid #C0C0C0
; background:url(/media/librerias/css/plantilla/images/bbplataforma.png) top repeat-x; width:940px;">
			<br />
                        <br />
                  		<div style="text-align:center;margin-left:25px; margin-right:25px;">
                        	<span style="text-align:center; font-style:italic;" class="titulo1">
                  				Estadísticas de Actores para la conservación de la Diversidad Biológica
                  			</span>
                        </div>
				<div id="piechart" style="width: 900px; height: 500px;"></div>

                </div>
                </div>
			<!-- Fin Columna Principal -->
            </div>
        </div>
    </div>
{% endblock %}
