{% extends "completo.html"%}

{% block content %}
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>-->

<script>
	function menu(){
		document.getElementById('plataforma').style.backgroundColor='#FFF';
	}
	window.onload=menu();
	
	function cargarpagina(){
		va = document.getElementById('btnglos').value;
		if(va==''){
			$("#buscar").load('/buscar_2/1');
		}else{
			$("#buscar").load('/buscar_biblioteca/1/'+va);
		}
	}
	function buscar2(url){
		va = document.getElementById('btnglos').value;
		if(va==''){
			$("#buscar").load('/buscar_2/'+url);
		}else{
			$("#buscar").load('/buscar_biblioteca/'+url+'/'+va);
		}
	}
</script>

<style>
.button
{
    margin: 2px;
    text-decoration: none;
    display:inline-block;
    color: #fff;
    
    
}

.button, .button span
{
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.button span
{
    border-top: 1px solid #fff; /* Fallback style */
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 0.5em 2.5em;
	color:#FFF;

    
    -moz-background-size: 3px 3px;
    -webkit-background-size: 3px 3px;
    background-size: 3px 3px;            
}

.button-blue
{
    background: #cccccc;
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#cccccc) );
    background: -moz-linear-gradient(-90deg, #cccccc, #cccccc);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cccccc', endColorstr='#cccccc');
	color:#FFF;
}
</style>
 <div id="wrapper">
    	<div id="secWrapper">
        	<div id="container" class="clearfix">
            <br />
            <br />
            <br />
            	<div style="width:940px; background-color:#E6E6E6; border:1px solid #C0C0C0
; height:22px; text-align:left;">
                	<span style="text-align:left; margin-left:15px;">
                    	{{ principal.titulo }} > {{ sub.titulo }}
                    </span>
                </div>
             <br />
			 <!-- Columna Principal -->
            	<div id="mainCol" class="clearfix">
                    <div style="border:1px solid #C0C0C0
; background:url(/media/librerias/css/plantilla/images/bbplataforma.png) top repeat-x;">
                    	<br />
                        <br />
                  		<div style="text-align:center;margin-left:25px; margin-right:25px;">
                        	<span style="text-align:center; font-style:italic;" class="titulo1">
                  				{{ sub.titulo }}
                  			</span>
                        </div>
                        <br />
                  		<div style="text-align:center;margin-left:25px; margin-right:25px;" class="texto_regular">
                                <input id="btnglos" type="text" style="border:1px solid #999" width="200px" height="25px"  onKeyUp="cargarpagina();"><br><br>
                                
                        </div>
                        <br>
                        <div id="buscar">
                         {% if mesn %}
                            {% for contact in mesn.object_list %}
                             <hr style=" border:none;background:url(/media/librerias/css/plantilla/images/bbplataforma.png) top repeat-x; height:47px;"/>
                            <div style="text-align:justify;margin-left:25px; margin-right:25px; " class="texto_regular">
                            	{% if contact.autores %}
                                <b style="color:#000;">Autores:</b> <span style="font-style:italic">{{ contact.autores }}</span>. 
                                {% endif %}
                                {% if contact.fecha %}
                                <b style="color:#000;">Año:</b> <span style="font-style:italic">{{ contact.fecha }}</span>. 
                                {% endif %}
                                {% if contact.titulo %}
                                <b style="color:#000;">Titulo:</b> <span style="font-style:italic">{{ contact.titulo }}</span>. 
                                {% endif %}
                                {% if contact.edicion %}
                                <b style="color:#000;">Edicion:</b> <span style="font-style:italic">{{ contact.edicion }}</span>. 
                                {% endif %}
                                {% if contact.numerovolumen %}
                                <b style="color:#000;">Volumen:</b> <span style="font-style:italic">{{ contact.numerovolumen }}</span>. 
                                {% endif %}
                                {% if contact.numeropaginas %}
                                <b style="color:#000;">Pagina:</b> <span style="font-style:italic">{{ contact.numeropaginas }} </span>. 
                                {% endif %}
                                {% if contact.editorial %}
                                <b style="color:#000;">Editorial:</b> <span style="font-style:italic">{% autoescape off %}{{ contact.editorial|removetags:"p"|safe }}{% endautoescape %}</span>
                                {% endif %}
								<br><br />
                                {% if contact.repositoriolinea %}
                                	<a target="new" href="/media/{{ contact.repositoriolinea }}"><img src="/media/imgs/document_down.gif" /> Descargar</a>
                                {% endif %}
                                <br>
                                </div>
                            {% endfor %}
                            <br>
                    		<div class="pagination">
                        <span class="step-links">
                            {% if mesn.has_previous %}
                                <a onclick="buscar2('{{ mesn.previous_page_number }}');">Anterior</a>
                            {% endif %}
                    
                            <span class="current">
                                Pagina {{ mesn.number }} de {{ mesn.paginator.num_pages }}.
                            </span>
                    
                            {% if mesn.has_next %}
                                <a onclick="buscar2('{{ mesn.next_page_number }}');">Proximo</a>
                            {% endif %}
                        </span>
                    </div>
                    
                    {% endif %}
						</div>
                        <br />
                	</div>

                </div>
			<!-- Fin Columna Principal -->
                <div id="secCol">
            
            {% for item in lateral %}
            	<div id="noticias" style="border:1px solid #C0C0C0
; width:218px; background-color:#FFF;">
                {% autoescape off %}{{ item.descripcion	 }}{% endautoescape %}
                </div>
                <div id="secCol-punta">
                </div>
                <br />
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}





