{% extends "completo.html"%}

{% block content %}
<script>
	function menu(){
		document.getElementById('cuenta').style.backgroundColor='#FFF';
	}
	window.onload=menu();
</script>
 <div id="wrapper">
    	<div id="secWrapper">
        	<div id="container" class="clearfix">
            <br />
            <br />
            <br />
            	<div style="width:940px; background-color:#E6E6E6; border:1px solid #CCC; height:22px; text-align:left;">
                	<span style="text-align:left; margin-left:15px;">
                    	Buzón de Mensajes y Notificaciones
                    </span>
                </div>
             <br />
			 <!-- Columna Principal -->
            	<div id="mainCol" class="clearfix">
		<div style="border:1px solid #C0C0C0
; background:url(/media/librerias/css/plantilla/images/bbplataforma.png) top repeat-x;">
			<br><br>
			<div style="margin-left:25px; margin-right:25px;">
                  <div class="titulo"><span style="font-style:italic;">Buzón de Mensajes y Notificaciones</span></div>
                  <div style="text-align:justify; font-size:13px;"><b>Aquí recibirás mensajes y notificaciones del Sistema.</b></div>
                  <br>
				  <table width="640px" style="border:none; border:1px solid #CCC;" cellpadding="2" cellspacing="2">
					<tr>
                    	<td  align="center" bgcolor="#999999">
                        	Remitente
                        </td>
                        <td  align="center" bgcolor="#999999">
                        	Asunto
                        </td>
                        <td  align="center" bgcolor="#999999">
                        	Fecha
                        </td>
                    </tr>
                  	{% for contact in mesn.object_list %}
					<tr>
                    	<td  >
                        	<a href="/vermsn.php/{{ contact.id }}">
                        	{{ contact.remi }}
                            </a>
                        </td>
                        <td  >
                        	<a href="/vermsn.php/{{ contact.id }}">
                        	{{ contact.asunto }}
                            </a>
                        </td>
                        <td  >
                        	<a href="/vermsn.php/{{ contact.id }}">
                        	{{ contact.fecha }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                  </table>
<br>
                  	<div class="pagination">
                        <span class="step-links">
                            {% if mesn.has_previous %}
                                <a href="?page={{ mesn.previous_page_number }}">Anterior</a>
                            {% endif %}
                    
                            <span class="current">
                                Pagina {{ mesn.number }} de {{ mesn.paginator.num_pages }}.
                            </span>
                    
                            {% if mesn.has_next %}
                                <a href="?page={{ mesn.next_page_number }}">Proximo</a>
                            {% endif %}
                        </span>
                    </div>
                    </div>
                    </div>
                </div>
			<!-- Fin Columna Principal -->
                <div id="secCol">
                	<div id="noticias" style="border:1px solid #CCC; width:218px; background-color:#FFF;">
					&nbsp;&nbsp;&nbsp;Hola, <span style="font-style:italic;">{{ persona.nombre }}</span> (<a href="/salir.php">Salir</a>)
                    	</div>
                    	<div id="secCol-punta">
                    	</div>
<br>
        </div>
    </div>						
							
{% endblock %}




</body>
</html>
