{% extends "completo.html"%}

{% block content %}
<script>
	function menu(){
		document.getElementById('cuenta').style.backgroundColor='#FFF';
	}
	window.onload=menu();
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">

</script>
<script type="text/javascript">
$(document).ready(function() {
	document.getElementById("id_username").className='txtinput';
	document.getElementById("id_username").placeholder='Tu nombre de usuario';
	
	document.getElementById("id_password1").className='txtinput';
	document.getElementById("id_password1").placeholder='Tu contraseña';
	
	document.getElementById("id_password2").className='txtinput';
	document.getElementById("id_password2").placeholder='Repite tu contraseña';

	document.getElementById("id_documentoidentidad").className='txtinput';
	document.getElementById("id_documentoidentidad").placeholder='Tu documento de identidad';

	document.getElementById("id_tipodoci").className='txtinput';
	document.getElementById("id_tipodoci").selected=0;
	
	document.getElementById("id_nombre").className='txtinput';
	document.getElementById("id_nombre").placeholder='Tu nombre';

	document.getElementById("id_apellido").className='txtinput';
	document.getElementById("id_apellido").placeholder='Tu apellido';
	
	document.getElementById("id_correo").className='txtinput';
	document.getElementById("id_correo").placeholder='Tu correo';

});
</script>
 <div id="wrapper">
    	<div id="secWrapper">
        	<div id="container" class="clearfix">
            <br />
            <br />
            <br />
            	<div style="width:940px; background-color:#E6E6E6; border:1px solid #CCC; height:22px; text-align:left;">
                	<span style="text-align:left; margin-left:15px;">
                    	Tu cuenta
                    </span>
                </div>
             <br />
			 <!-- Columna Principal -->
            	<div id="mainCol" class="clearfix">
                <div style="border:1px solid #C0C0C0
; background:url(/media/css/plantilla/images/bbplataforma.png) top repeat-x;">
			<br />
                        <br />
                  		<div style="text-align:center;margin-left:25px; margin-right:25px;">
                        	<span style="text-align:center; font-style:italic;" class="titulo1">
                  				!Registrate¡
                  			</span>
                        </div>
                        <br />
                  
				  <br>
                    {% if mensaje %}
                     <h1 class="error">{{ mensaje }} </h1>
                     <br />
                     Ahora puede acceder al sistema mediante el panel lateral.
                    {% endif %}
                    </div>
                </div>
			<!-- Fin Columna Principal -->
				<div id="secCol">
                	<div id="noticias" style="border:1px solid #CCC; width:218px; background-color:#FFF; background-image:url(/media/css/plantilla/images/login_bg2.png)">
                        	{% if form.errors %}
                            	<p class="error">Lo siento, el nombre de usuario y clave no son válidos</p>
                          	{% endif %}
                            
                  	<fieldset id="login">
                    	<h4>Panel de Acceso</h4>
                            <form method='post' name="hongkiat" id="hongkiat-form" action="/perfil"> {% csrf_token %}
                                <p class="clearfix"><label for="username">usuario:</label>
                                <input type="text" name="username" value="" id="username"></p>
                                <p class="clearfix"><label for="password">Clave:</label>
                                <input type="password" name="password" value="" id="password"></p>

                                <section id="buttons2">
                                    <input type="submit" name="submit" id="submitbtn2" class="submitbtn" tabindex="7" value="Enviar">
                                    <br style="clear:both;">
                            	</section>
                                <input type="hidden" name="next" value="{{ next }}" />
  							</form> 
					</fieldset> 
 
                    </div>
                    <div id="secCol-punta">
                    </div>
                <div id="secCol">
                	<div id="noticias" style="border:1px solid #CCC; width:218px; background-color:#FFF; background-image:url(/media/css/plantilla/images/login_bg2.png)">
                    
                    </div>
                    <div id="secCol-punta">
                    </div>
                </div>
            </div>
        </div>
    </div>








{% endblock %}
