{% extends "completo.html"%}

{% block content %}
<script>
	function menu(){
		document.getElementById('cuenta').style.backgroundColor='#FFF';
	}
	window.onload=menu();
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>
<link rel="stylesheet" type="text/css" href="/media/css/plantilla/notificaciones/css/jquery.gritter.css" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="/media/css/plantilla/notificaciones/js/jquery.gritter.js"></script>
<script type="text/javascript">

$(document).ready(function() {
	document.getElementById("id_tiposAreasAccion").className='txtinput';
	document.getElementById("id_actoresrex").className='txtinput';
	document.getElementById("id_bancoaudio").className='txtinput';
	document.getElementById("id_horarios").className='txtinput';
	document.getElementById("id_fund").className='txtinput';
	document.getElementById("id_url").className='txtinput';
	document.getElementById("id_ambitoaccion").className='txtinput';
	document.getElementById("id_principalesorgfinan").className='txtinput';
	document.getElementById("id_objetivos").className='txtinput';
	document.getElementById("id_publicacionesPeriodicas").className='txtinput';
	document.getElementById("id_aniofundacion").className='txtinput';
	document.getElementById("id_telefono").className='txtinput';
	document.getElementById("id_fax").className='txtinput';
	document.getElementById("id_address").className='txtinput';
	document.getElementById("id_geolocation").className='txtinput';
	document.getElementById("id_rif").className='txtinput';
	document.getElementById("id_siglas").className='txtinput';
	document.getElementById("id_nombre").className='txtinput';
	document.getElementById("id_nombre_completo").className='txtinput';
	document.getElementById("id_direccion").className='txtinput';
	document.getElementById("id_pai").className='txtinput';
	document.getElementById("id_estado").className='txtinput';
	document.getElementById("id_municipio").className='txtinput';
	document.getElementById("id_parroquia").className='txtinput';
	document.getElementById("id_correo").className='txtinput';
	document.getElementById("id_reseniahistorica").className='txtinput';
	document.getElementById("id_pubp").className='txtinput';
	document.getElementById("id_grupobio").className='txtinput';
	document.getElementById("id_logotipo").className='txtinput';
	document.getElementById("id_categoriact").className='txtinput';
	document.getElementById("id_tipocolec").className='txtinput';
	document.getElementById("id_particularidades").className='txtinput';
	document.getElementById("id_estrOrganz").className='txtinput';
	document.getElementById("id_actinteres").className='txtinput';
	document.getElementById("id_coord").className='txtinput';
	document.getElementById("id_estrucorg").className='txtinput';
	document.getElementById("id_tipoorganizacion").className='txtinput';
	document.getElementById("id_userupdate").className='txtinput';
	document.getElementById("id_areasesconserv").className='txtinput';
	document.getElementById("id_directorio").className='txtinput';
	
	document.getElementById("id_tiposAreasAccion").placeholder='...';
	document.getElementById("id_actoresrex").placeholder='...';
	document.getElementById("id_bancoaudio").placeholder='...';
	document.getElementById("id_horarios").placeholder='...';
	document.getElementById("id_fund").placeholder='...';
	document.getElementById("id_url").placeholder='...';
	document.getElementById("id_ambitoaccion").placeholder='...';
	document.getElementById("id_principalesorgfinan").placeholder='...';
	document.getElementById("id_objetivos").placeholder='...';
	document.getElementById("id_publicacionesPeriodicas").placeholder='...';
	document.getElementById("id_aniofundacion").placeholder='...';
	document.getElementById("id_telefono").placeholder='...';
	document.getElementById("id_fax").placeholder='...';
	document.getElementById("id_address").placeholder='...';
	document.getElementById("id_geolocation").placeholder='...';
	document.getElementById("id_rif").placeholder='...';
	document.getElementById("id_siglas").placeholder='...';
	document.getElementById("id_nombre").placeholder='...';
	document.getElementById("id_nombre_completo").placeholder='...';
	document.getElementById("id_direccion").placeholder='...';
	document.getElementById("id_pai").placeholder='...';
	document.getElementById("id_estado").placeholder='...';
	document.getElementById("id_municipio").placeholder='...';
	document.getElementById("id_parroquia").placeholder='...';
	document.getElementById("id_correo").placeholder='...';
	document.getElementById("id_reseniahistorica").placeholder='...';
	document.getElementById("id_pubp").placeholder='...';
	document.getElementById("id_grupobio").placeholder='...';
	document.getElementById("id_logotipo").placeholder='...';
	document.getElementById("id_categoriact").placeholder='...';
	document.getElementById("id_tipocolec").placeholder='...';
	document.getElementById("id_particularidades").placeholder='...';
	document.getElementById("id_estrOrganz").placeholder='...';
	document.getElementById("id_actinteres").placeholder='...';
	document.getElementById("id_coord").placeholder='...';
	document.getElementById("id_estrucorg").placeholder='...';
	document.getElementById("id_tipoorganizacion").placeholder='...';
	document.getElementById("id_userupdate").placeholder='...';
	document.getElementById("id_areasesconserv").placeholder='...';
	document.getElementById("id_directorio").placeholder='...';
});
</script>
{% if msm %}
<script>
$(document).ready(function() {
$.gritter.add({
		// (string | mandatory) the heading of the notification
		title: '<b style="color:#fff">Notificacion de Error!</b>',
		// (string | mandatory) the text inside the notification
		text: 'Se ha presentado un error al momento de realizar el envio del formulacion, por favor verifique la informacion e intentelo nuevamente...',
		// (string | optional) the image to display on the left
		image: '/media/css/plantilla/notificaciones/css/safe_image.png',
		// (bool | optional) if you want it to fade out on its own or just sit there
		sticky: false,
		// (int | optional) the time you want it to be alive for before fading out
		time: ''
	});

	return false;

});
</script>
{% endif %}

<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/c/video.js"></script>
<style>
#hongkiat-form input {
background: #fff url('/media/css/plantilla/images/Libros.png') 5px 4px no-repeat;
}
#hongkiat-form select {
background: #fff url('/media/css/plantilla/images/Libros.png') 5px 4px no-repeat;
}
#hongkiat-form option {
background: #fff url('/media/css/plantilla/images/Libros.png') 5px 4px no-repeat;
}
#hongkiat-form textarea {
background: #fff url('/media/css/plantilla/images/Libros.png') 5px 4px no-repeat;
}

</style>
 <div id="wrapper">
    	<div id="secWrapper">
        	<div id="container" class="clearfix">
            <br />
            <br />
            <br />
            	<div style="width:940px; background-color:#E6E6E6; border:1px solid #C0C0C0
; height:22px; text-align:left;">
                	<span style="text-align:left; margin-left:15px;">
                    	Tu cuenta > Actores Colectivos > Agregar
                    </span>
                </div>
             <br />
			 <!-- Columna Principal -->
            	<div id="mainCol" class="clearfix">
                	<div style="border:1px solid #C0C0C0
; background:url(/media/css/plantilla/images/bbplataforma.png) top repeat-x;">
                    	<br />
                        <br />
                  		<div style="text-align:center;margin-left:25px; margin-right:25px;">
                        	<span style="text-align:center; font-style:italic;" class="titulo1">
                  				Registro de Actores Colectivos
                  			</span>
                        </div>
                        <br />
                  		<div style="text-align:justify;margin-left:25px; margin-right:25px;" class="texto_regular">
                    		<section id="container">
                            	<form enctype="multipart/form-data" action=""name="hongkiat" id="hongkiat-form" method="post" style="margin-left:10px;">
								{% csrf_token %}
                        		<div id="wrapping" class="clearfix">
                            		<section id="aligned">
                                    <label style="font-size:14px;">Eres Representante legal?</label>
                                    <input type="checkbox" name="directorio" id="id_directorio" value="{{ persona.id }}">
                                    <br /><br />
    <label style="font-size:14px;">{{ form.categoriact.label }}</label>
    	{{ form.categoriact }}
	<label style="font-size:14px;">{{ form.tipocolec.label }}</label>
    	{{ form.tipocolec }}
    <label style="font-size:14px;">{{ form.tipoorganizacion.label }}</label>
    	{{ form.tipoorganizacion }}
    <label style="font-size:14px;">{{ form.siglas.label }}</label>
    	{{ form.siglas }}
    <label style="font-size:14px;">{{ form.pai.label }}</label>
    	{{ form.pai }}
	<label style="font-size:14px;">{{ form.estado.label }}</label>
    	{{ form.estado }}
	<label style="font-size:14px;">{{ form.municipio.label }}</label>
    	{{ form.municipio }}
	<label style="font-size:14px;">{{ form.parroquia.label }}</label>
    	{{ form.parroquia }}
    
    
        
    <label style="font-size:14px;">{{ form.tiposAreasAccion.label }}</label>
    	{{ form.tiposAreasAccion }}
	<label style="font-size:14px;">{{ form.actoresrex.label }}</label>
    	{{ form.actoresrex }}
	<label style="font-size:14px;">{{ form.bancoaudio.label }}</label>
    	{{ form.bancoaudio }}
	<label style="font-size:14px;">{{ form.horarios.label }}</label>
    	{{ form.horarios }}
	<label style="font-size:14px;">{{ form.fund.label }}</label>
    	{{ form.fund }}
	<label style="font-size:14px;">{{ form.url.label }}</label>
    	{{ form.url }}
	<label style="font-size:14px;">{{ form.ambitoaccion.label }}</label>
    	{{ form.ambitoaccion }}
	<label style="font-size:14px;">{{ form.principalesorgfinan.label }}</label>
    	{{ form.principalesorgfinan }}
	<label style="font-size:14px;">{{ form.objetivos.label }}</label>
    	{{ form.objetivos }}
	<label style="font-size:14px;">{{ form.publicacionesPeriodicas.label }}</label>
    	{{ form.publicacionesPeriodicas }}
	<label style="font-size:14px;">{{ form.aniofundacion.label }}</label>
    	{{ form.aniofundacion }}
	<label style="font-size:14px;">{{ form.telefono.label }}</label>
    	{{ form.telefono }}
	<label style="font-size:14px;">{{ form.fax.label }}</label>
    	{{ form.fax }}
	<label style="font-size:14px;">{{ form.address.label }}</label>
    	{{ form.address }}
	<label style="font-size:14px;">{{ form.geolocation.label }}</label>
    	{{ form.geolocation }}
	<label style="font-size:14px;">{{ form.rif.label }}</label>
    	{{ form.rif }}
	
	<label style="font-size:14px;">{{ form.nombre.label }}</label>
    	{{ form.nombre }}
	<label style="font-size:14px;">{{ form.nombre_completo.label }}</label>
    	{{ form.nombre_completo }}
	<label style="font-size:14px;">{{ form.direccion.label }}</label>
    	{{ form.direccion }}
	
	<label style="font-size:14px;">{{ form.correo.label }}</label>
    	{{ form.correo }}
	<label style="font-size:14px;">{{ form.reseniahistorica.label }}</label>
    	{{ form.reseniahistorica }}
	<label style="font-size:14px;">{{ form.pubp.label }}</label>
    	{{ form.pubp }}
	<label style="font-size:14px;">{{ form.grupobio.label }}</label>
    	{{ form.grupobio }}
	<label style="font-size:14px;">{{ form.logotipo.label }}</label>
    	{{ form.logotipo }}
	
	<label style="font-size:14px;">{{ form.particularidades.label }}</label>
    	{{ form.particularidades }}
	<label style="font-size:14px;">{{ form.estrOrganz.label }}</label>
    	{{ form.estrOrganz }}
	<label style="font-size:14px;">{{ form.actinteres.label }}</label>
    	{{ form.actinteres }}
	<label style="font-size:14px;">{{ form.coord.label }}</label>
    	{{ form.coord }}
	<label style="font-size:14px;">{{ form.estrucorg.label }}</label>
    	{{ form.estrucorg }}
	
	<label style="font-size:14px;">{{ form.areasesconserv.label }}</label>
    	{{ form.areasesconserv }}
                              		<input type="hidden" name="userupdate" id="id_userupdate" value="{{ usuario.id }}">
                                    <input type="hidden" name="estatu" id="id_estatu" value="0">
                            		</section>
                        		</div>
                            	<section id="buttons">
                                	<input type="reset" name="reset" id="resetbtn" class="resetbtn" value="Limpiar">
                                	<input type="submit" name="submit" id="submitbtn" class="submitbtn" tabindex="7" value="Enviar">
                                	<br style="clear:both;">
                            	</section>
                            	</form>
                        	</section>
						</div>
                	</div>
                </div>
			<!-- Fin Columna Principal -->
            <div id="secCol">
            	<div id="noticias" style="border:1px solid #CCC; width:218px; background-color:#FFF;">
                &nbsp;&nbsp;&nbsp;Hola, <span style="font-style:italic;">{{ persona.nombre }}</span> (<a href="/salir.php">Salir</a>)
                </div>
                <div id="secCol-punta">
                </div>
                <br />
                <div id="noticias" style="border:1px solid #CCC; width:218px; background-color:#FFF;">
                &nbsp;&nbsp;&nbsp;Todos los campos que tengan la siguiente imagen <img src="/media/css/plantilla/images/icon_alert_error.gif" height="15px" /> se consideran importante, por lo tanto, son obligatorios.
                </div>
                <div id="secCol-punta">
                </div>
                <br />
            {% for item in lateral %}
            	<div id="noticias" style="border:1px solid #C0C0C0
; width:218px; background-color:#FFF;">
                {% autoescape off %}{{ item.descripcion	 }}{% endautoescape %}
                </div>
                <div id="secCol-punta">
                </div>
                <br />
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}