{% extends "completo.html"%}

{% block content %}
<table border="0" align="center" width="985" cellpadding="0" cellspacing="0" height="192">
	<tr>
		<td>
			<div>&nbsp;</div>
		</td>
	</tr>								
	<tr>
		<td valign="top">
			<table align="center" border="0" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td width="750" valign="top">                                                            
						<table align="center" border="0" width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td width="25" background="/media/imgs/esqsi.png">

								</td>
								<td width="700" background="/media/imgs/latsup.png">
									<div>&nbsp;</div>
								</td>
								<td width="25" background="/media/imgs/esqsd.png">

								</td>                                                       
							</tr> 
							<tr>
								<td width="25" background="/media/imgs/latizq.png">

								</td>
								<td width="700">
									<div class="titulo1">Construcción colectiva</div>
									<br>
									<div><div class="style1" align="justify">El SVIDB ha sido concebido en un enfoque que garantice la  participación por parte de todas las personas interesadas. La información contenida en la plataforma ha sido generada de manera colaborativa por múltiples autores, todos nuestros autores participan en forma gratuita enviándonos información para ponerla a disposición del público.
<br><br><b>Actualmente trabajamos en perfeccionar el sistema de gestión colaborativa</b>. Sin embargo, si usted desea colaborar con las tres <b>grandes secciones de información</b>,  <b>audiovisuales</b> o <b>mapas</b> deberá e. cualquier duda, <b>deberá escribir a</b> <b>diversidadbiologica@minamb.gob.ve</b</div><table width="100%">
	<tr>
		<td>
			<div class="style1" align="justify" style="margin-right:5px;">
			<br><br>
			Información de especies, áreas estratégicas para la conservación y actores.
			<br><br>
La primera de ellas incorpora listas de las diferentes especies presentes en nuestro país, presentadas de forma jerárquicas y siguiendo las divisiones básicas de la taxonomía: Reino, Clase, Orden, Familia, Género y Especie.  Salvo algunas excepciones en las que se incluyen categorías infra específicas y subdivisiones de las divisiones básicas (ejemplo: subfamilia). Cada una de las especies contenidas en las listas va acompañada de información relacionada con su biología y ecología, incluyendo fotografías y mapas de distribución. 
<br><br>
La sección de Áreas para la Conservación nos muestras las áreas de nuestro territorio nacional que son consideradas de especial interés para la conservación de nuestro diversidad biológica, por albergar una alta riqueza de especies, tener una alto grado de endemismos, representar corredores biológicos que permiten que las especies se desplacen dentro de sus áreas de distribución en búsqueda de alimento, pareja y refugio, entre otros. 
<br><br>						
			
			</div>
		</td>
		<td><img src="/media/imgs/colaboradores_img.png" align="left" /></td>
	</tr>
	<tr>
		<td colspan="2">
		<div class="style1" align="justify">
		<br><br>
Para más información sobre los campos  y detalles para la colaboración, descarga el instructivo.<br><br>
		
		<div class="btn_descargar_sin_text" style="width:420px;"><a href="construccioncolectiva/instructivo.pdf"><img src="/media/imgs/instructivo.png" style="margin-top:1px;"></a></div>
		<br><br>
		
		En la sección de Actores de la Conservación de la Diversidad Biológica, se busca reflejar en la medida de lo posible cuales son las diferentes organizaciones que realizan actividades en pro de conservar nuestra diversidad biológica. Se incluye toda forma de organización social trabajando en aspectos como investigación, educación, divulgación e intercambio de saberes. 
		<br><br>
		<table>
		<tr>
		<td>
		<div class="btn_descargar_sin_text" style="width:150px;"><a href="construccioncolectiva/personas.pdf"><img src="/media/imgs/personas_p.png" style="margin-top:1px;"></a></div>
		</td>
		<td>
		&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
		<td>
		<div class="btn_descargar_sin_text" style="width:200px;"><a href="organizaciones"><img src="/media/imgs/organizaciones_p.png" style="margin-top:1px;"></a></div>
		</td>
		</tr>
		</table>
		<br><br>

Contribuir con el Banco Audiovisual<br>
Puede contribuir con audiovisuales para enriquecer las fichas, siempre y cuando el mismo  haya sido realizado por usted, para ello ponemos a disposición la siguiente planilla para el llenado de sus datos.<br><br>
<div class="btn_descargar_sin_text" style="width:200px;"><a href="construccioncolectiva/bancoaudiovisual.pdf"><img src="/media/imgs/audio_p.png" style="margin-top:1px;"></a></div>
<br><br>
Contribuir con Mapas y/o insumos para su construcción.<br>
Puede contribuir con mapas de distribución o de linderos de áreas, para tal fin debe manifestar sus intenciones a través del correo electrónico. <b>diversidadbiologica@minamb.gob.ve</b>

		</td>
	</tr>
</table></div>
								</td>
								<td width="25" background="/media/imgs/latder.png">
								
								</td>                                                            
							</tr> 
							<tr>
								<td width="25" background="/media/imgs/esqid.png">

								</td>
								<td width="700" background="/media/imgs/latinf.png">
									<div>&nbsp;</div>
								</td>
								<td width="25" background="/media/imgs/esqii.png">
								
								</td>                                                      
							</tr>                    
						</table>
					</td>
					<td width="10">
			
					</td>
					<td width="225" valign="top">									
						<table align="center" border="0" width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td width="25" background="/media/imgs/esqsi.png">

								</td>
								<td width="175" background="/media/imgs/latsup.png">
									<div>&nbsp;</div>
								</td>
								<td width="25" background="/media/imgs/esqsd.png">

								</td>                                                       
							</tr>
							<tr>
								<td width="25" background="/media/imgs/latizq.png">
								
								</td>
								<td width="175" align="center">
									<img src="/media/imgs/cc_panel.png" width="178px">
									
									
								</td>
								<td width="25" background="/media/imgs/latder.png">
								
								</td>
							</tr>
							<tr>
								<td width="25" background="/media/imgs/esqid.png">
								
								</td>
								<td width="175" background="/media/imgs/latinf.png">
									<div>&nbsp;</div>
								</td>
								<td width="25" background="/media/imgs/esqii.png">
								
								</td>
							</tr>
						</table>
						
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;
		</td>
	</tr>
</table>

{% endblock %}
