{% extends "base.html"%}
{% block jscript %}
<script>
function loadMenu(url){
	window.top.location.href = url;
}

	function Llenar(ch){
		document.getElementById("valorForen").value = ch;
	}
</script>

{% endblock %}

{% block cabecera %}
<link type="text/css" href="/media/librerias/autocat/jquery.ui.all.css" rel="stylesheet" />
<script type="text/javascript" src="/media/librerias/autocat/jquery-1.4.2.js"></script>

	<script type="text/javascript" src="/media/librerias/autocat/jquery.ui.core.js"></script>
	<script type="text/javascript" src="/media/librerias/autocat/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/media/librerias/autocat/jquery.ui.position.js"></script>
	<script type="text/javascript" src="/media/librerias/autocat/jquery.ui.autocomplete.js"></script>
<style type="text/css">
	.ui-autocomplete-category {
		font-weight:bold;
		padding:.2em .4em;
		margin:.8em 0 .2em;
		line-height:1.5;
	}
	</style>
<script type="text/javascript">
	$.extend( $.ui.menu.prototype, {
		next: function() {
			this.move("next", ".ui-menu-item:first");
		},

		previous: function() {
			this.move("prev", ".ui-menu-item:last");
		},

		move: function(direction, edge) {
			if (!this.active) {
				this.activate(this.element.children(edge));
				return;
			}
			var next = this.active[direction + "All"]('.ui-menu-item').eq( 0 );
			if (next.length) {
				this.activate(next);
			} else {
				this.activate(this.element.children(edge));
			}
		}
	});

	$.widget("custom.catcomplete", $.ui.autocomplete, {
		_renderMenu: function( ul, items ) {
			var self = this,
				currentCategory = "";
			$.each( items, function( index, item ) {
				if ( item.category != currentCategory ) {
					ul.append( "<li class='ui-autocomplete-category' style='background-color:#E6E6E6;'>" + item.category + "</li>" );
					currentCategory = item.category;
				}
				self._renderItem( ul, item );
			});
		}
	});
	</script>
    
	<script type="text/javascript">
	$(function() {
		$('#search').catcomplete({
	
			source: "/autocat/"+document.getElementById("search").values
		});
	});
	function cargarId(id){
			document.getElementById('foreingkey').value=id;
//			alert(id);	
		}
	</script>
    
<div style="width:100%; height:100px; background-color:#FFCC66; text-align:center;" id="capamensaje">
<div style="margin-left:50px; margin-right:50px; font-size:16px;"> 
<br><b style="font-size:20">PRORROGA DE INSCRIPCIONES</b><br />
El Comité Organizador ha extendido la fecha de registro de trabajos hasta el 30 de Abril de 2015. Les invitamos a registrarse con tiempo ya que no habrán prorrogas adicionales. <a style="color:#F00; cursor:pointer;" onclick="document.getElementById('capamensaje').style.display='none';"> (( Cerrar ))</a></div>
</div>    
<div id="cabeceras">
   	<img src="/media/librerias/css/plantilla/images/gob.jpg" />
</div>
<div id="cabeceras">
<div style="width:985px; margin-left:20px; height:158px;background-image:url(/media/librerias/index/09.jpg);">
    <form method="GET" id="formbuscar" name="formbuscar" action="/buscador">
<div class="search-wrapper" style="width: 483px;
height: 50px;
padding: 8px 12px 12px;
background: url(/media/librerias/discovery/search-bg.png);
z-index: 200;
left: 0;
margin-left: 500px;
margin-top: 0;
">
	<!--<a href="/discover" class="see-all">See All Species</a>-->
	<label style="color:#fff; font-size:14px;"><b>¿Que deseas buscar hoy?</b></label>
	<div class="search-box" style="display: block;
background: #fff;
border: 1px #666666 solid;
height: 30px;
width: 481px;
position: relative;
box-shadow: inset 1px 1px 3px #aaa;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-ms-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;">
		<span><input type="text" class="mousetrap" name="valorForen" id="search"  style="margin: 0;
padding: 0 0 0 16px;
height: 30px;
width: 407px;
outline: none;
border: 0;
background: none;
font-size: 12px;
color: #333333;
vertical-align: middle;
box-shadow: none !important;">
		<input type="hidden" id="foreingkey" name="foreingkey_id">
    <input type="hidden" id="modelo_id" name="modelo" value="Especies">

</span>
		<input type="submit" value="Search" name="" class="disabled" style="cursor: pointer;
font-size: 0px;
line-height: 200px;
overflow: hidden;
display: block;
position: absolute;
top: -1px;
bottom: -1px;
right: -1px;
border: none;
outline: none;
width: 80px;
height: 31px;
background-color: transparent;
background-image: url(/media/librerias/index/buscar80x36.png);
background-repeat: no-repeat;
background-position: left top;
" >
<!--onclick="enviarBuscador();"-->
	</div>
	<div class="autocomplete">
	</div>
</form>  
</div>
</div> 
</div>

<div id="wrapper-menu">
    	<div id="secWrapper-menu">
			<div id="conten-menu">
    			<div id="menu">
              		<div id="inicio" style="width:130px; height:35px; float:left;color:#000; text-align:center; border-right:1px solid #CCC;">
                        <span style="text-align:center"><a href="/" style="text-decoration:none; cursor:pointer;color:#000;">Portada</a><img src="/media/librerias/css/plantilla/images/v.png" width="5px" height="5px" />
                        <hr width="110px" align="center" style="margin-left:10px; background:#900; border:1px solid #900;" />
                        </span>
                    </div>
                    
                    <div id="plataforma" style="width:130px; height:35px; float:left;color:#000; text-align:center; border-right:1px solid #CCC;">
                        <span style="text-align:center"><a href="/plataforma" style="text-decoration:none; cursor:pointer;color:#000;">La Plataforma</a><img src="/media/librerias/css/plantilla/images/v.png" width="5px" height="5px" />
                        <hr width="110px" align="center" style="margin-left:10px; background:#999; border:1px solid #999;" />
                        </span>
                    </div>
                    
                    <div id="especies" style="width:130px; height:35px;float:left;color:#000; text-align:center; border-right:1px solid #CCC;">
                        <span style="text-align:center"><a href="/especies" style="text-decoration:none; cursor:pointer;color:#000;">Especies</a> <img src="/media/librerias/css/plantilla/images/v.png" width="5px" height="5px" />
                        <hr width="110px" align="center" style="margin-left:10px; background:#00669b; border:1px solid #00669b;" />
                        </span>
                    </div>
                    <div id="areas" style="width:130px; height:35px;float:left;color:#000; text-align:center; border-right:1px solid #CCC;">
                        <span style="text-align:center"><a href="/areas" style="text-decoration:none; cursor:pointer;color:#000;">Áreas</a> <img src="/media/librerias/css/plantilla/images/v.png" width="5px" height="5px" />
                        <hr width="110px" align="center" style="margin-left:10px; background:#6cb639; border:1px solid #6cb639;" />
                        </span>
                    </div>
                    <div id="actores" style="width:130px; height:35px;float:left;color:#000; text-align:center; border-right:1px solid #CCC;">
                        <span style="text-align:center"><a href="/actores" style="text-decoration:none; cursor:pointer; color:#000;">Actores</a> <img src="/media/librerias/css/plantilla/images/v.png" width="5px" height="5px" />
                        <hr width="110px" align="center" style="margin-left:10px; background:#f5963a; border:1px solid #f5963a;" />
                        </span>
                    </div>
                   
                    <div id="cuenta" style="width:130px; height:35px;float:left;color:#000; text-align:center; border-right:1px solid #CCC;">
                        <span style="text-align:center"><a href="/perfil" style="text-decoration:none; cursor:pointer; color:#000;">Tu Cuenta</a> <img src="/media/librerias/css/plantilla/images/v.png" width="5px" height="5px" />
                        <hr width="110px" align="center" style="margin-left:10px; background:#cd6530; border:1px solid #cd6530;" />
                        </span>
                    </div>
    			</div>
            	
            	<div id="menu-punta">
            	</div>
    		</div>
    	</div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}

{% block pie %}
<div id="cabeceras">
   	<table align="center" width="985" cellpadding="0" cellspacing="0" border="0">
    	<tr>
        	<td>
            	<div align="center">
                	<a href="http://creativecommons.org/licenses/by/3.0/deed.es" target="_blank"><img src="/media/imgs/ccby.png"/></a>
				</div>
            </td>
        </tr>
        <tr>
        	<td>
            	<div align="center" class="style2">
                	Los contenidos de esta web est&aacute;n sujetos a una licencia de Creative Commons si no se indica lo contrario.
				</div>
            </td>
        </tr>
        <tr>
        	<td>
            	<div align="center"><img src="/media/librerias/imgs/www.png"/></div>
            </td>
        </tr>
    </table>
</div>
	
{% endblock %}





