{% block lateral %}
<table width="90%" style="margin-left:10px;">
                                    	<tr>
                                        	<td style="background-color:#D6D6D6;" align="center">
                                            	&nbsp;&nbsp;&nbsp;<a style="text-decoration:none; cursor:pointer;color:#000;font-size:12px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;" href="/plataforma.php">La Plataforma</a>
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td style="background-color:#D6D6D6" align="center">
                                            	&nbsp;&nbsp;&nbsp;<a style="text-decoration:none; cursor:pointer;color:#000;font-size:12px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;" href="/colaboradores.php">Equipos y Colaboradores</a>
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td style="background-color:#D6D6D6" align="center">
                                            	&nbsp;&nbsp;&nbsp;<a style="text-decoration:none; cursor:pointer;color:#000;font-size:12px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;" href="/construccion.php">Construcción Colectiva</a>
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td style="background-color:#D6D6D6" align="center">
                                            	&nbsp;&nbsp;&nbsp;<a style="text-decoration:none; cursor:pointer;color:#000;font-size:12px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;" href="/estrategias.php">La Estrategia</a>
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td style="background-color:#D6D6D6" align="center">
                                            	&nbsp;&nbsp;&nbsp;<a style="text-decoration:none; cursor:pointer;color:#000;font-size:12px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;" href="/avances.php">Avances en la C.C.</a>
                                            </td>
                                        </tr>
                                    </table>
{% endblock %}